<div class="campaign-content">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#novaezmailing-campaign-preview" data-toggle="tab" role="tab">Campaign</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#novaezmailing-content-preview" data-toggle="tab" role="tab">Campaign eZ Content</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#novaezmailing-mailings-preview" data-toggle="tab" role="tab">Campaign Mailings</a>
        </li>
    </ul>
    <div class="novaezmailing-tabs-content tab-content">
        <div class="novaezmailing-ez-campaign-view tab-pane active" role="tabpanel" id="novaezmailing-campaign-preview">
            <table class="table table-striped table-hover table-sm">
                <tr>
                    <th>Name</th>
                    <td>{{ item.name }}</td>
                </tr>
                <tr>
                    <th>Sender</th>
                    <td>{{ item.senderName }} &lt;{{ item.senderEmail }}&gt;</td>
                </tr>
                <tr>
                    <th>Report Email</th>
                    <td>{{ item.reportEmail }}</td>
                </tr>
                <tr>
                    <th>Mailing Lists</th>
                    <td>
                        <div class="list-group">
                            {% for mailingList in item.mailingLists %}
                                <a href="{{ path('novaezmailing_mailinglist_show',{mailingList:mailingList.id}) }}"
                                   class="list-group-item list-group-item-action"
                                >
                                    {{ mailingList.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ ez_content_name(item.content) }}</td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td>{{ item.updated|localizeddate(novaezmailing.dateformat.date, novaezmailing.dateformat.date) }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ item.created|localizeddate(novaezmailing.dateformat.date, novaezmailing.dateformat.date) }}</td>
                </tr>
            </table>
        </div>
        <div class="novaezmailing-ez-content-view tab-pane" role="tabpanel" id="novaezmailing-content-preview">
            {{ preview|raw }}
        </div>

        <div class="novaezmailing-ez-mailings-view tab-pane" role="tabpanel" id="novaezmailing-mailings-preview">
            {% include "@NovaeZMailing/Admin/Common/List/mailings.html.twig" with { items: item.mailings} only %}
        </div>
    </div>
</div>
