{% trans_default_domain 'ezmailing' %}

{% set statusKey = "generic.mailing_statuses."~status %}

<div class="item-tabs-content">
    <ul class="nav nav-tabs" role="tablist">
        {% if status != 'all' %}
            <li class="nav-item">
                <a class="nav-link active" href="#novaezmailing-mailings-status-preview" data-toggle="tab" role="tab">
                    <img src="{{ asset("/bundles/novaezmailing/admin/images/16x16/"~status~".png") }}" class="nova-icon"/> {{ statusKey|trans|capitalize ~ " " ~ "campaign.tabs.mailings"|trans }}
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link{% if status == 'all' %} active{% endif %}" href="#novaezmailing-campaign-preview" data-toggle="tab" role="tab">{{ "campaign.tabs.campaign"|trans }}</a>
        </li>
        {% if item.locationId is not null %}
            <li class="nav-item">
                <a class="nav-link" href="#novaezmailing-content-preview" data-toggle="tab" role="tab">{{ "campaign.tabs.associated_content"|trans }}</a>
            </li>
        {% endif %}
        {% if item.mailings|length > 0 %}
            <li class="nav-item">
                <a class="nav-link" href="#novaezmailing-mailings-preview" data-toggle="tab" role="tab">{{ "common.list.users_filterer.all"|trans ~ " " ~ "campaign.tabs.mailings"|trans }}</a>
            </li>
        {% endif %}
    </ul>
    <div class="novaezmailing-tabs-content tab-content">
        {% if status != 'all' %}
            <div class="novaezmailing-ez-campaign-view tab-pane active" role="tabpanel" id="novaezmailing-mailings-status-preview">
                {% if children|length > 0 %}
                    {% include "@NovaeZMailing/admin/common/list/mailings.html.twig" with { items: children} only %}
                {% else %}
                    <p>{{ "generic.no_status_mailings"|trans }}</p>
                {% endif %}
            </div>
        {% endif %}
        <div class="novaezmailing-ez-campaign-view tab-pane{% if status == 'all' %} active{% endif %}" role="tabpanel" id="novaezmailing-campaign-preview">
            {% include "@NovaeZMailing/admin/campaign/details.html.twig" with { item: item} only %}
        </div>
        {% if item.locationId is not null %}
            <div class="novaezmailing-ez-content-view tab-pane" role="tabpanel" id="novaezmailing-content-preview">
                {{ preview|raw }}
            </div>
        {% endif %}
        {% if item.mailings|length > 0 %}
            <div class="novaezmailing-ez-mailings-view tab-pane" role="tabpanel" id="novaezmailing-mailings-preview">
                {% include "@NovaeZMailing/admin/common/list/mailings.html.twig" with { items: item.mailings} only %}
            </div>
        {% endif %}
    </div>

    {% if status == 'all' %}
        <div class="novaezmailing-button-actions float-right">
            <a class="btn btn-sm btn-secondary" href="{{ path('novaezmailing_mailing_create', {campaign: item.id}) }}">
                <svg class="ez-icon">
                    <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#create"></use>
                </svg>
                <span>{{ "campaign.tabs.create"|trans }}</span>
            </a>
            <a class="btn btn-sm btn-secondary" href="{{ path("novaezmailing_campaign_edit", {campaign: item.id}) }}">
                <svg class="ez-icon">
                    <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#edit"></use>
                </svg>
                <span>{{ "campaign.tabs.edit"|trans }}</span>
            </a>
            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#novaezmailingconfirmremovecampaignmodal">
                <svg class="ez-icon">
                    <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#trash"></use>
                </svg>
                <span>{{ "campaign.tabs.delete"|trans }}</span>
            </button>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="novaezmailingconfirmremovecampaignmodal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ "campaign.tabs.confirm_removal"|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ "campaign.tabs.delete_campaign_confirmation_1"|trans }}</p>
                        <p>{{ "campaign.tabs.delete_campaign_confirmation_2"|trans }}</p>
                        <ul>
                            <li>{{ "campaign.tabs.one_campaign"|trans }}1 Campaign</li>
                            <li>{{ item.mailings|length }} {{ "campaign.tabs.mailings_with_broadcast"|trans }}</li>
                        </ul>

                        <p>{{ "campaign.tabs.delete_campaign_note"|trans }}</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ path('novaezmailing_campaign_remove', {campaign: item.id}) }}" type="button" class="btn btn-danger">{{ "campaign.tabs.confirm"|trans }}</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "campaign.tabs.cancel"|trans }}Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="novaezmailing-button-actions float-right">
            <a href="{{ url('novaezmailing_campaign_subscriptions', { campaign: item.id }) }}" class="btn btn-sm btn-info">
                <svg class="ez-icon">
                    <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#view"></use>
                </svg>
                <span>{{ "mailing.mailing_tabs.views"|trans ~ " " ~ "menu.campaign_menu.subscriptions"|trans|capitalize }}</span>
            </a>
        </div>
    {% endif %}
</div>
