{% trans_default_domain 'ezmailing' %}
<table class="table table-striped table-hover table-sm">
    <tr>
        <th>{{"campaign.details.name"|trans}}</th>
        <td>{{ item.name }}</td>
    </tr>
    <tr>
        <th>{{"campaign.details.sender"|trans}}</th>
        <td>{{ item.senderName }} &lt;{{ item.senderEmail }}&gt;</td>
    </tr>
    <tr>
        <th>{{"campaign.details.report_email"|trans}}</th>
        <td>{{ item.reportEmail }}</td>
    </tr>
    {% if item.siteaccessLimit|length > 0 %}
        <tr>
            <th>{{"campaign.details.siteaccess_limit"|trans}}</th>
            <td>
                <div class="list-group">
                    {% for sa in item.siteaccessLimit %}
                        <a class="list-group-item list-group-item-action">
                            {{ sa }}
                        </a>
                    {% endfor %}
                </div>
            </td>
        </tr>
    {% endif %}
    <tr>
        <th>{{"campaign.details.mailing_lists"|trans}}</th>
        <td>
            <div class="list-group">
                {% for mailingList in item.mailingLists %}
                    <a href="{{ path('novaezmailing_mailinglist_show',{mailingList:mailingList.id}) }}"
                       class="list-group-item list-group-item-action"
                    >
                        <img src="{{ asset("/bundles/novaezmailing/admin/images/16x16/mailinglist.png") }}" class="nova-icon" /> {{ mailingList.name }}
                    </a>
                {% endfor %}
            </div>
        </td>
    </tr>
    {% if item.content is defined and item.content is not null %}
        <tr>
            <th>{{"campaign.details.associated_content"|trans}}</th>
            <td>{{ ez_content_name(item.content) }}</td>
        </tr>
    {% endif %}
</table>
