<table class="table table-striped table-hover table-sm">
    <tr>
        <th>Name</th>
        <td>{{ item.name }}</td>
    </tr>
    <tr>
        <th>Sender</th>
        <td>{{ item.senderName }} &lt;{{ item.senderEmail }}&gt;</td>
    </tr>
    <tr>
        <th>Report Email</th>
        <td>{{ item.reportEmail }}</td>
    </tr>
    {% if item.siteaccessLimit|length > 0 %}
        <tr>
            <th>Siteaccess limit</th>
            <td>
                <div class="list-group">
                    {% for sa in item.siteaccessLimit %}
                        <a class="list-group-item list-group-item-action">
                            {{ sa }}
                        </a>
                    {% endfor %}
                </div>
            </td>
        </tr>
    {% endif %}
    <tr>
        <th>Mailing Lists</th>
        <td>
            <div class="list-group">
                {% for mailingList in item.mailingLists %}
                    <a href="{{ path('novaezmailing_mailinglist_show',{mailingList:mailingList.id}) }}"
                       class="list-group-item list-group-item-action"
                    >
                        {{ mailingList.name }}
                    </a>
                {% endfor %}
            </div>
        </td>
    </tr>
    {% if item.content is defined and item.content is not null %}
        <tr>
            <th>Associated content</th>
            <td>{{ ez_content_name(item.content) }}</td>
        </tr>
    {% endif %}
</table>
