{% extends '@NovaeZMailing/admin/layout/pagelayout.html.twig' %}

{% set statusKeys = constant('Novactive\\Bundle\\eZMailingBundle\\Entity\\Mailing::STATUSES') %}


{% block novezmailing_breadcrumb %}
    <ol class="breadcrumb px-4">
        <li class="breadcrumb-item"><a href="{{ path("novaezmailing_dashboard_index") }}">Nova eZ Mailing</a></li>
        <li class="breadcrumb-item">Campaigns</li>
        <li class="breadcrumb-item">{{ item.name }}</li>
        <li class="breadcrumb-item active">Mailings</li>
    </ol>
{% endblock %}
{% block novezmailing_title %}
    <img src="{{ asset("/bundles/novaezmailing/admin/images/32x32/campaign.png") }}" class="nova-icon" /> {{ item.name }}{% endblock %}
{% block novezmailing_subtitle %}Campaign{% endblock %}
{% block content %}
    {{ render_esi(controller("Novactive\\Bundle\\eZMailingBundle\\Controller\\Admin\\CampaignController::campaignTabsAction", {campaign: item.id})) }}
    <br/>

    {% if children|length > 0 %}
        <h2>
            <img src="{{ asset("/bundles/novaezmailing/admin/images/32x32/"~statusKeys[status])~".png" }}" class="nova-icon"/> Mailings
        </h2>
        {% include "@NovaeZMailing/admin/common/list/mailings.html.twig" with { items: children} only %}
    {% endif %}
{% endblock %}
