{% extends '@NovaeZMailing/admin/layout/pagelayout.html.twig' %}
{% trans_default_domain 'ezmailing' %}

{% block novezmailing_breadcrumb %}
    <ol class="breadcrumb px-4">
        <li class="breadcrumb-item"><a href="{{ path("novaezmailing_dashboard_index") }}">Nova eZ Mailing</a></li>
        <li class="breadcrumb-item">{{"campaign.breadcrumb.campaigns"|trans}}</li>
        <li class="breadcrumb-item">{{ item.name }}</li>
        <li class="breadcrumb-item active">{{"campaign.breadcrumb.mailings"|trans}}</li>
    </ol>
{% endblock %}
{% block novezmailing_title %}
    <img src="{{ asset("/bundles/novaezmailing/admin/images/32x32/campaign.png") }}" class="nova-icon"/> {{ item.name }}{% endblock %}
{% set subtitle = "campaign.mailings.campaign"|trans %}
{% block novezmailing_subtitle %}{{ subtitle }}{% endblock %}
{% block content %}
    {{ render_esi(controller("Novactive\\Bundle\\eZMailingBundle\\Controller\\Admin\\CampaignController::campaignTabsAction", {campaign: item.id})) }}
    <br/>

    {% if children|length > 0 %}
        <h2>
            <img src="{{ asset("/bundles/novaezmailing/admin/images/32x32/"~status~".png") }}" class="nova-icon"/> {{"campaign.mailings.mailings"|trans}}
        </h2>
        {% include "@NovaeZMailing/admin/common/list/mailings.html.twig" with { items: children} only %}
    {% endif %}
{% endblock %}
