{% trans_default_domain 'ezmailing' %}
<table class="table table-striped table-hover table-sm">
    <tr>
        <th>{{"common.list.broadcast.recipient_count"|trans}}</th>
        <th>{{"common.list.broadcast.started"|trans}}</th>
        <th>{{"common.list.broadcast.ended"|trans}}</th>
    </tr>
    {% for item in items %}
        <tr>
            <td>{{ item.emailSentCount }}</td>
            <td>{{ item.started|localizeddate(novaezmailing.dateformat.date, novaezmailing.dateformat.date) }}</td>
            <td>{{ item.ended|localizeddate(novaezmailing.dateformat.date, novaezmailing.dateformat.date) }}</td>
        </tr>
    {% endfor %}
</table>
