{% set withTitle = withTitle is defined ? withTitle : true %}
{% trans_default_domain 'ezmailing' %}
<table class="table table-striped table-hover table-sm">
    {% if withTitle %}
        <tr>
            <th>{{ "common.list.mailings.name"|trans }}</th>
            <th>{{ "common.list.mailings.status"|trans }}</th>
            <th>&nbsp;</th>
        </tr>
    {% endif %}
    {% for item in items %}
        <tr>
            <td>
                {% set showLink = path('novaezmailing_mailing_show', {mailing:item.id}) %}
                {% if item.location is null %}
                    {% set showLink = path('novaezmailing_mailing_edit', {mailing:item.id}) %}
                {% endif %}
                <a href="{{ showLink }}">{{ item.name }}</a>
            </td>
            <td>
                <img src="{{ asset("/bundles/novaezmailing/admin/images/16x16/"~item.status~".png") }}" class="nova-icon"/> {{ item.status }}
            </td>
            <td>
                {% if workflow_can(item,'edit') %}
                    <a href="{{ path('novaezmailing_mailing_edit', {mailing: item.id}) }}" class="edit-button">
                        <svg class="ez-icon">
                            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#edit"></use>
                        </svg>
                    </a>
                {% else %}
                    <a href="javascript:void(0)" class="edit-button disabled">
                        <svg class="ez-icon">
                            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#edit"></use>
                        </svg>
                    </a>
                {% endif %}
                {% if item.location is not null and item.content is not null %}
                    <a target="_blank" href="{{ path('_novaezmailing_ez_content_view', { locationId: item.location.id, contentId: item.content.id, mailingId: item.id, siteaccess: item.siteaccess }) }}" class="edit-button">
                        <svg class="ez-icon">
                            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#view"></use>
                        </svg>
                    </a>
                {% endif %}
            </td>
        </tr>

    {% endfor %}
</table>
