{% set withTitle = withTitle is defined ? withTitle : true %}
<table class="table table-striped table-hover table-sm">
    {% if withTitle %}
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
    {% endif %}
    {% for item in items %}
        <tr>
            <td>
                <a href="{{ path('novaezmailing_mailing_show', {mailing:item.id}) }}">{{ item.name }}</a>
            </td>
            <td>
                <img src="{{ asset("/bundles/novaezmailing/admin/images/16x16/"~item.status~".png") }}" class="nova-icon"/> {{ item.status }}
            </td>
            <th>
                {% if workflow_can(item,'edit') %}
                    <a href="{{ path('novaezmailing_mailing_edit', {mailing: item.id}) }}" class="edit-button">
                        <svg class="ez-icon">
                            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#edit"></use>
                        </svg>
                    </a>
                {% else %}
                    <a href="#" class="edit-button disabled">
                        <svg class="ez-icon">
                            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#edit"></use>
                        </svg>
                    </a>
                {% endif %}
            </th>
        </tr>

    {% endfor %}
</table>
