{% extends "@NovaeZMailing/eZViews/mailing_base.html.twig" %}

{% block unregistrer %}{% endblock %}

{% block preheader_message %}
    The Mailing {{ item.name }} #{{ item.id }} is being sent.
{% endblock %}

{% block body %}
    <p>The Mailing {{ item.name }} #{{ item.id }} is being sent.</p>
    <p>Its associated content is {{ ez_content_name(item.content) }}</p>

    <p>It is part of the campaign {{ item.campaign.name }} #{{ item.campaign.id }}</p>

    <p>This campaign defines {{ item.campaign.mailingLists|length }} Mailing Lists:</p>
    <ul>
        {% for mailingList in item.campaign.mailingLists %}
            <li>{{ mailingList.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
