{% extends "@NovaeZMailing/eZViews/mailing_base.html.twig" %}

{% block preheader_message %}
    The Mailing {{ item.name }} #{{ item.id }} has been sent.
{% endblock %}

{% block unregistrer %}{% endblock %}

{% block body %}
    <p>The Mailing {{ item.name }} #{{ item.id }} has been sent.</p>

    <p>You can now follow the
        <a href="{{ url("novaezmailing_mailing_show", { mailing: item.id }) }}#novaezmailing-mailings-stats">broadcast information here</a>.
    </p>
{% endblock %}
