{% set baseLayout = '@ezdesign/ui/layout.html.twig' %}
{% if forced is defined and forced == true and reset is not defined %}
    {% set baseLayout = '@ezdesign/account/base.html.twig' %}
{% endif %}

{% extends baseLayout %}


{% set pageTitle = 'Two-factor Authentication Setup' %}

{% block title %}{{ pageTitle }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: pageTitle }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: pageTitle,
        icon_name: 'article'
    } %}
{%- endblock -%}

{%- block content -%}

    {% if forced is defined and forced == true and reset is not defined %}
        <h2 class="ez-login__actions-headline">Two-Factor Authentication</h2>
    {% endif %}

    <section class="container ez-container mt-4">
        <div class="card ez-card ez-card--light">
            <div class="card-body">

                {% if success is defined %}

                    <h5>{{ method|capitalize }} two-factor authentication has been successfuly set up.</h5>

                    {% if backupCodes is defined and backupCodes|length > 0 %}
                        <p>
                            Here are the
                            <strong>Backup Codes</strong> which are one-time authentication codes and can be used instead of the actual codes.
                            <br/>
                            They're meant as emergency codes, when the authentication device is not available and you have to pass the two-factor authentication process.
                            <br/>
                            They should be saved securely so you can use them when needed.
                        </p>
                        <ul>
                            {% for code in backupCodes %}
                                <li>{{ code }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                {% elseif reset is defined %}

                    <div class="ez-data-source__message--main">{{ method|capitalize }} two-factor authentication is already set up.</div>
                    {% if forced is not defined or forced == false %}
                        <div class="ez-data-source__message--main">Click
                            <a href="{{ ez_path(ez_route('2fa_reset')) }}"><strong>Here</strong></a> to reset it.
                        </div>
                    {% endif %}

                {% elseif form is null %}

                    <div class="ez-data-source__message--main">
                        <span>You have no methods of two-factor authentication enabled.</span>
                    </div>

                {% elseif form.vars.name == 'two_factor_method' %}

                    <div class="ez-data-source__message--main">
                        {% if form.method.vars.choices|length == 1 %}
                            <span>Submit the current available method of two-factor authentication.</span>
                        {% else %}
                            <span>Select whether to use <strong>Mobile Application</strong> or <strong>Email</strong> for two-factor authentication.</span>
                        {% endif %}
                    </div>
                    <br/>

                    {{ form_start(form, {'attr': {'class': 'ez-form-validate'}, 'method':'post'}) }}

                    {% for formMethod in form.method %}

                        <div class="form-check">
                            {{ form_widget(formMethod, {'attr': {'class': 'ez-input ez-input--radio form-check-input'}}) }}
                            {{ form_label(formMethod, null, {'label_attr': {'class': 'radio-inline form-check-label required'}}) }}
                        </div>

                    {% endfor %}

                    <br/>
                    <div class="ez-field">
                        <div class="ez-field__data">
                            <div class="ez-data-source">
                                {{ form_row(form.submit, {'attr': {'class': 'ez-data-source__btn-add btn btn-secondary'}}) }}
                            </div>
                        </div>
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}

                {% else %}

                    <div class="ez-data-source__message--main">Scan this QR code with an application compatible with {{ method|capitalize }} Authenticator.</div>
                    <div class="ez-data-source__message--main">Enter the code generated for this account.</div>

                    {{ qrCode|raw }}

                    {{ form_start(form, {'attr': {'class': 'ez-form-validate'}, 'method':'post'}) }}

                    <div class="ez-field ez-field-edit--ezstring ez-field-edit--required">
                        <div class="ez-field__label-wrapper">
                            {{ form_label(form.code, null, {'label_attr': {'class': 'ez-field__label ez-label required'}}) }}
                        </div>
                        <div class="ez-field-edit__data">
                            <div class="ez-data-source">
                                {{ form_widget(form.code, {'attr': {'class': 'ez-data-source__input form-control'}}) }}
                            </div>
                        </div>
                        {% for error in form.code.vars.errors %}
                            <em class="ez-field-edit__error">{{ error.message }}</em>
                        {% endfor %}
                    </div>

                    <br/>
                    <div class="ez-field">
                        <div class="ez-field__data">
                            <div class="ez-data-source">
                                {{ form_row(form.submit, {'attr': {'class': 'ez-data-source__btn-add btn btn-secondary'}}) }}
                            </div>
                        </div>
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}

                {% endif %}

            </div>
        </div>
    </section>
{%- endblock -%}