{% block captchetat_row -%}
    {% if display_captcha|default %}
        {{ block('form_row') }}
    {% endif %}
{%- endblock captchetat_row %}

{% block captchetat_label %}
    {% if display_captcha|default %}
        {{- block('form_label') }}
    {% endif %}
{% endblock captchetat_label %}

{% block captchetat_widget %}
    {% apply spaceless %}
        {% if display_captcha|default %}
            {%- set attr = attr|merge({
                'class': 'widget-container row align-items-center js-captcha-widget'
            }) -%}
            <div {{ block('widget_container_attributes') }}>
                <div class="captcha col-lg-4 col-md-6 d-flex align-items-center">
                    {{ captcha_html|raw }}
                    <div class="clearfix"></div>
                </div>
                <div class="captcha-input">
                    {{- form_widget(form.answer,  { 'id': 'captchaFormulaireExtInput' } ) -}}
                    {{- form_widget(form.captcha_id ) -}}
                </div>
            </div>
        {% endif %}
    {% endapply %}
{% endblock captchetat_widget %}
