
{% block ezplatform_fieldtype_menuitem_widget %}
    {% set attr = attr|merge({'class': 'ez-visually-hidden ez-data-source__input'}) %}
    {{ block('form_widget') }}
    <div class="ez-data-source__input-wrapper">
        <div id="{{ id }}-menus-accordions">
            {% for available_menu in available_menus %}
                {# @var menu \Novactive\EzMenuManagerBundle\Entity\Menu #}
                {% set menu = available_menu.menu %}
                <div class="card menu__wrapper ez-visually-hidden">
                    <div class="card-header" id="menu-heading-{{ menu.id }}">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" data-toggle="collapse" data-target="#menu-{{ menu.id }}" aria-expanded="false" aria-controls="menu-{{ menu.id }}">
                                {{ menu.name }}
                            </label>
                        </div>
                    </div>

                    <div id="menu-{{ menu.id }}" class="collapse" aria-labelledby="menu-heading-{{ menu.id }}">
                        <div class="card-body">
                            <div class="menu-tree__wrapper"
                                 data-menu_id="{{ menu.id }}"
                                 data-menu_item_name="{{ content_name }}"
                                 data-default_parents="{{ available_menu.defaultParentMenuItems|join(',') }}"
                            >{{ ezmenumanager_menu_jstree(menu)|json_encode }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
