{% trans_default_domain 'ezmailing' %}
{% macro show(item) %}


    {% set approveText = 'Approve' %}
    {% set denyText = 'Deny' %}

    {% set approveTextTranslated = "common.registration_approbation_button.approve"|trans %}
    {% set denyTextTranslated = "common.registration_approbation_button.deny"|trans %}

    <div class="novaezmailing-registration-approbation"
         data-endpoint-accept="{{ path("novaezmailing_registration_accept", {registration:item.id}) }}"
         data-endpoint-deny="{{ path("novaezmailing_registration_deny", {registration:item.id}) }}"
         data-approve-text="{{ approveText }}"
         data-deny-text="{{ denyText }}"
         data-token="{{ csrf_token(item.id) }}"
    >
        {% if item.mailingList.withApproval %}
            <button type="button" class="btn btn-sm {{ item.approved? "btn-danger" :"btn-success" }}">{{ item.approved ? denyTextTranslated : approveTextTranslated }}</button>
        {% else %}
            <button type="button" class="btn btn-sm btn-light" disabled>n/a</button>
        {% endif %}
    </div>
{% endmacro %}

