{% extends '@EzPlatformAdminUi/content/content_edit/content_edit.html.twig' %}

{% trans_default_domain 'content_edit' %}

{% block details %}
    <div class="container mt-5 px-5">

        {% if baseLanguage is defined and baseLanguage is not null %}
            <h2 class="ez-content-item-status">{{ 'editing_in_language_based_on'|trans({'%contentName%': content.name, '%languageName%': language.name, '%baseLanguageName%': baseLanguage.name})|desc('Editing - %contentName% in %languageName% based on %baseLanguageName%') }}</h2>
        {% else %}
            <h2 class="ez-content-item-status">{{ 'editing_in_language'|trans({'%contentName%': content.name, '%languageName%': language.name})|desc('Editing - %contentName% in %languageName%') }}</h2>
        {% endif %}

        <div class="d-flex">
            <div class="d-block">
                <h1>
                    <svg class="ez-icon ez-icon-{{ contentType.identifier }}">
                        <use xlink:href="{{ ez_content_type_icon(contentType.identifier) }}"></use>
                    </svg>
                    {{ content.name }}
                </h1>
            </div>

            {% if documentation is defined %}
                <div class="ml-2" data-toggle="collapse" data-target="#collapse__main"
                     aria-expanded="false" aria-controls="collapse__main">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="20px" height="20px" viewBox="0 0 20 20" version="1.1">
                        <g>
                            <path stroke="none" fill-rule="nonzero" fill="rgb(100%,100%,100%)"
                                  fill-opacity="1"
                                  d="M 19.710938 10 C 19.710938 15.363281 15.363281 19.710938 10 19.710938 C 4.636719 19.710938 0.289062 15.363281 0.289062 10 C 0.289062 4.636719 4.636719 0.289062 10 0.289062 C 15.363281 0.289062 19.710938 4.636719 19.710938 10 Z M 19.710938 10 "/>
                            <path stroke="none" fill-rule="nonzero" fill="rgb(0%,0%,0%)"
                                  fill-opacity="1"
                                  d="M 10 0 C 4.480469 0 0 4.480469 0 10 C 0 15.519531 4.480469 20 10 20 C 15.519531 20 20 15.519531 20 10 C 20 4.480469 15.519531 0 10 0 Z M 10 1.28125 C 14.8125 1.28125 18.71875 5.1875 18.71875 10 C 18.71875 14.8125 14.8125 18.71875 10 18.71875 C 5.1875 18.71875 1.28125 14.8125 1.28125 10 C 1.28125 5.1875 5.1875 1.28125 10 1.28125 Z M 10.148438 3.40625 C 9.601562 3.410156 9.082031 3.480469 8.617188 3.613281 C 8.148438 3.746094 7.707031 3.960938 7.332031 4.234375 C 7.007812 4.46875 6.699219 4.773438 6.460938 5.085938 C 6.046875 5.640625 5.816406 6.253906 5.757812 6.957031 C 5.753906 7.003906 5.75 7.042969 5.75 7.042969 C 5.75 7.046875 7.921875 7.3125 7.929688 7.3125 C 7.9375 7.3125 7.941406 7.289062 7.960938 7.21875 C 8.152344 6.410156 8.507812 5.867188 9.054688 5.539062 C 9.488281 5.277344 10.035156 5.175781 10.632812 5.242188 C 10.90625 5.269531 11.15625 5.335938 11.371094 5.441406 C 11.644531 5.570312 11.890625 5.777344 12.066406 6.023438 C 12.21875 6.238281 12.3125 6.480469 12.339844 6.753906 C 12.347656 6.828125 12.347656 7 12.339844 7.074219 C 12.316406 7.257812 12.269531 7.414062 12.1875 7.570312 C 12.105469 7.730469 12.039062 7.824219 11.910156 7.953125 C 11.710938 8.160156 11.394531 8.4375 10.835938 8.894531 C 10.472656 9.1875 10.230469 9.410156 10.023438 9.628906 C 9.527344 10.144531 9.304688 10.535156 9.164062 11.101562 C 9.074219 11.472656 9.039062 11.855469 9.050781 12.417969 C 9.050781 12.558594 9.054688 12.691406 9.054688 12.714844 L 9.054688 12.757812 L 11.214844 12.757812 L 11.21875 12.519531 C 11.222656 12.191406 11.238281 11.980469 11.273438 11.777344 C 11.332031 11.449219 11.417969 11.277344 11.667969 10.996094 C 11.828125 10.816406 12.039062 10.621094 12.363281 10.351562 C 12.839844 9.949219 13.171875 9.652344 13.488281 9.335938 C 13.980469 8.847656 14.234375 8.511719 14.414062 8.117188 C 14.558594 7.808594 14.636719 7.503906 14.660156 7.164062 C 14.667969 7.085938 14.667969 6.863281 14.660156 6.769531 C 14.617188 6.066406 14.351562 5.445312 13.847656 4.867188 C 13.765625 4.773438 13.570312 4.578125 13.476562 4.492188 C 12.980469 4.054688 12.40625 3.757812 11.71875 3.585938 C 11.300781 3.476562 10.894531 3.425781 10.382812 3.410156 C 10.304688 3.40625 10.226562 3.40625 10.148438 3.40625 Z M 9.054688 13.765625 L 9.054688 15.964844 L 11.257812 15.964844 L 11.257812 13.765625 Z M 9.054688 13.765625 "/>
                        </g>
                    </svg>
                </div>
            {% endif %}
        </div>

        {% if documentation is defined %}
            <div class="collapse" id="collapse__main">
                {% for item, value in documentation.valueObject.fields %}
                    {% if item != 'identifier' and ez_field_value(documentation.valueObject, item) is not empty %}
                        <div class="documentation-item__field {% if item == 'title' %}h4{% endif %}">
                            {{ ez_render_field(documentation.valueObject, item) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="small">
            {{ contentType.name }} /
            {% if creator is not null %}{{ 'created_by'|trans({'%name%': ez_content_name(creator)})|desc('Created by %name%') }} /{% endif %}
            {{ content.versionInfo.contentInfo.publishedDate|ez_full_datetime }} /
            {{ 'content_id'|trans({'%contentId%': content.id})|desc('Content ID: %contentId%') }},
            {% if isPublished == false %}
                {{ 'parent_location_id'|trans({'%locationId%': parentLocation.id})|desc('Parent Location ID: %locationId%') }}
            {% else %}
                {{ 'location_id'|trans({'%locationId%': location.id})|desc('Location ID: %locationId%') }}
            {% endif %}
        </div>
        <div class="ez-content-item__errors-wrapper" hidden>
            {{ 'errors.in.the.form'|trans({},'content_edit')|desc('Looks like something went wrong. Please check for required fields or errors and correct them') }}
        </div>
        {# @todo remove if statement once getDescription() bug is resolved in kernel #}
        {% if contentType.descriptions is not empty %}
            <div class="small text-muted">{{ contentType.description }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block form_fields %}

    <section class="container mt-4 px-5 mb-5">
        <div class="card ez-card">
            <div class="card-body">

                {% for field in form.fieldsData if not field.rendered -%}
                    {% if field.value is defined %}
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 mw-100">
                                {{- form_widget(field) -}}
                            </div>

                            {% if items[field.vars.name] is defined %}
                                <div class="ml-2" data-toggle="collapse" data-target="#collapse-{{ field.vars.name }}"
                                     aria-expanded="false" aria-controls="collapse-{{ field.vars.name }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="20px" height="20px" viewBox="0 0 20 20" version="1.1">
                                        <g>
                                            <path stroke="none" fill-rule="nonzero" fill="rgb(100%,100%,100%)"
                                                  fill-opacity="1"
                                                  d="M 19.710938 10 C 19.710938 15.363281 15.363281 19.710938 10 19.710938 C 4.636719 19.710938 0.289062 15.363281 0.289062 10 C 0.289062 4.636719 4.636719 0.289062 10 0.289062 C 15.363281 0.289062 19.710938 4.636719 19.710938 10 Z M 19.710938 10 "/>
                                            <path stroke="none" fill-rule="nonzero" fill="rgb(0%,0%,0%)"
                                                  fill-opacity="1"
                                                  d="M 10 0 C 4.480469 0 0 4.480469 0 10 C 0 15.519531 4.480469 20 10 20 C 15.519531 20 20 15.519531 20 10 C 20 4.480469 15.519531 0 10 0 Z M 10 1.28125 C 14.8125 1.28125 18.71875 5.1875 18.71875 10 C 18.71875 14.8125 14.8125 18.71875 10 18.71875 C 5.1875 18.71875 1.28125 14.8125 1.28125 10 C 1.28125 5.1875 5.1875 1.28125 10 1.28125 Z M 10.148438 3.40625 C 9.601562 3.410156 9.082031 3.480469 8.617188 3.613281 C 8.148438 3.746094 7.707031 3.960938 7.332031 4.234375 C 7.007812 4.46875 6.699219 4.773438 6.460938 5.085938 C 6.046875 5.640625 5.816406 6.253906 5.757812 6.957031 C 5.753906 7.003906 5.75 7.042969 5.75 7.042969 C 5.75 7.046875 7.921875 7.3125 7.929688 7.3125 C 7.9375 7.3125 7.941406 7.289062 7.960938 7.21875 C 8.152344 6.410156 8.507812 5.867188 9.054688 5.539062 C 9.488281 5.277344 10.035156 5.175781 10.632812 5.242188 C 10.90625 5.269531 11.15625 5.335938 11.371094 5.441406 C 11.644531 5.570312 11.890625 5.777344 12.066406 6.023438 C 12.21875 6.238281 12.3125 6.480469 12.339844 6.753906 C 12.347656 6.828125 12.347656 7 12.339844 7.074219 C 12.316406 7.257812 12.269531 7.414062 12.1875 7.570312 C 12.105469 7.730469 12.039062 7.824219 11.910156 7.953125 C 11.710938 8.160156 11.394531 8.4375 10.835938 8.894531 C 10.472656 9.1875 10.230469 9.410156 10.023438 9.628906 C 9.527344 10.144531 9.304688 10.535156 9.164062 11.101562 C 9.074219 11.472656 9.039062 11.855469 9.050781 12.417969 C 9.050781 12.558594 9.054688 12.691406 9.054688 12.714844 L 9.054688 12.757812 L 11.214844 12.757812 L 11.21875 12.519531 C 11.222656 12.191406 11.238281 11.980469 11.273438 11.777344 C 11.332031 11.449219 11.417969 11.277344 11.667969 10.996094 C 11.828125 10.816406 12.039062 10.621094 12.363281 10.351562 C 12.839844 9.949219 13.171875 9.652344 13.488281 9.335938 C 13.980469 8.847656 14.234375 8.511719 14.414062 8.117188 C 14.558594 7.808594 14.636719 7.503906 14.660156 7.164062 C 14.667969 7.085938 14.667969 6.863281 14.660156 6.769531 C 14.617188 6.066406 14.351562 5.445312 13.847656 4.867188 C 13.765625 4.773438 13.570312 4.578125 13.476562 4.492188 C 12.980469 4.054688 12.40625 3.757812 11.71875 3.585938 C 11.300781 3.476562 10.894531 3.425781 10.382812 3.410156 C 10.304688 3.40625 10.226562 3.40625 10.148438 3.40625 Z M 9.054688 13.765625 L 9.054688 15.964844 L 11.257812 15.964844 L 11.257812 13.765625 Z M 9.054688 13.765625 "/>
                                        </g>
                                    </svg>
                                </div>
                            {% endif %}
                        </div>

                        {% if items[field.vars.name] is defined %}
                            <div class="collapse" id="collapse-{{ field.vars.name }}">
                                {% for item, value in items[field.vars.name].fields %}
                                    {% if item != 'identifier' and ez_field_value(documentation.valueObject, item) is not empty %}
                                        <div class="documentation-item__field {% if item == 'title' %}h4{% endif %}">
                                            {{ ez_render_field(items[field.vars.name], item) }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% else %}
                        <div>
                            {{- form_label(field) -}}
                            <p class="non-editable">
                                {{ "content.field.non_editable"|trans|desc('Field type is not editable') }}
                            </p>
                            {% do field.setRendered() %}
                        </div>
                    {% endif %}
                {%- endfor %}
                {{ form_widget(form.publish, {'attr': {'hidden': 'hidden'}}) }}
                {{ form_widget(form.saveDraft, {'attr': {'hidden': 'hidden'}}) }}
                {{ form_widget(form.cancel, {'attr': {'hidden': 'hidden'}}) }}
            </div>
        </div>
    </section>

{% endblock %}


