{% trans_default_domain 'import_export' %}

{% form_theme form with '@ibexadesign/ui/form_fields.html.twig' %}

<section class="container ibexa-container">
    {% set levelColors = {
        'DEBUG'     : 'bg-info',
        'INFO'      : 'bg-success text-white',
        'NOTICE'    : 'bg-light text-white',
        'WARNING'   : 'bg-warning',
        'ERROR'     : 'bg-danger text-white',
        'CRITICAL'  : 'bg-danger text-white',
        'ALERT'     : 'bg-danger text-white',
        'EMERGENCY' : 'bg-dark text-white',
    } %}
    {% set body_rows = [] %}

    {% for log in logs %}
        {% set log_level %}
            <span class="badge {{ levelColors[log.record.level_name]|default() }}">{{ log.record.level_name }}</span>
        {% endset %}
        {% set message %}
            {% if log.record.context.exception is defined %}
                <a data-bs-toggle="collapse" href="#{{ log.id }}" role="button" aria-expanded="false" aria-controls="{{ log.id }}">{{ log.record.message }}</a>
                <div class="collapse multi-collapse" id="{{ log.id }}">
                    <pre>{{ log.record.context.exception }}</pre>
                </div>
            {% else %}
                {{ log.record.message }}
            {% endif %}
        {% endset %}
        {% set body_row_cols = [
            { content: log.record.context.item_index|default() },
            { content: log_level, raw: true },
            { content: message, raw: true }
        ] %}

        {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
    {% endfor %}

    {% set headline = 'job.view.logs.title'|trans()|desc('Logs') %}
    {% set actions %}
        {{ form_start(form) }}
            {{ form_widget(form.level) }}
        {{ form_end(form) }}
    {% endset %}

    {% embed '@ibexadesign/ui/component/table/table.html.twig' with {
        headline: headline,
        actions: actions,
        head_cols: [
            { content: 'job.view.log.item_index'|trans|desc('Item') },
            { content: 'job.view.log.type'|trans|desc('Type') },
            { content: 'job.view.log.message'|trans|desc('Message') },
        ],
        body_rows,
    } %}
    {% endembed %}
    {{ pagerfanta(logs, 'ibexa', {'routeName': 'import_export.job.view', 'routeParams': {'id': job.id}|merge(request_query), 'pageParameter': '[logs][page]'}) }}
</section>
