{#

@var Content   documentation
@var Content[] documentation_items (Indexé par l'identifier du field

extend_from_template = "@ibexadesign/content/edit/edit.html.twig"

@admin/content/edit/edit_help.html.twig (templates/themes/admin/content/edit/edit_help.html.twig)
@admin/content/edit/edit.html.twig (@admin/content/edit/edit.html.twig)
@IbexaAdminUi/themes/admin/content/edit_base.html.twig (@IbexaAdminUi/themes/admin/content/edit_base.html.twig)
@IbexaAdminUi/themes/admin/ui/edit_base.html.twig (@IbexaAdminUi/themes/admin/ui/edit_base.html.twig)
@IbexaAdminUi/themes/admin/ui/layout.html.twig (@IbexaAdminUi/themes/admin/ui/layout.html.twig)

#}
{% extends extend_from_template %}

{% trans_default_domain 'content_edit' %}

{% block form_before %}
    {{ parent() }}
    {% include "@ibexadesign/content/edit/tophelp.html.twig" %}
{% endblock %}

{#
    L'idée d'origine c'était de copier le contenu des templates suivants et d'ajouter le bt et la popin...
     * vendor/ibexa/admin-ui/src/bundle/Resources/views/themes/admin/content/edit/edit.html.twig
     * vendor/ibexa/admin-ui/src/bundle/Resources/views/themes/admin/content/edit_base.html.twig

    Je trouve que ça fait trop d'override de templates critiques

    Je préfère donc ajouter le bt et la popin après et déplacer le bt avec du js.

    Mais pour dépacer ce bt au bon endoit il faut une cible.
    Et pour le moment, cette cible, je la crée avec une surchage de edit_macros.html.twig ...
    C'est pas terrible...
#}
{% block form_fields %}
    {{ parent() }}

    {% for identifier, item in documentation_items %}
        {% set button_id = 'nova-help-button--' ~ identifier %}
        {% set button_place_id = 'nova-help-button-place--' ~ identifier %}
        {% set modal_id = 'nova-help-modal--' ~ identifier %}

        <button
                id="{{ button_id }}"
                type="button"
                class="btn ibexa-btn js-nova-help-bt"
                data-bs-toggle="modal"
                data-bs-target="#{{ modal_id }}"
                data-identifier="{{ identifier }}"
                title="{{ 'edithelp.help'|trans }}"
        >
            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
                <use xlink:href="{{ ibexa_icon_path('about-info') }}"></use>
            </svg>
            <span class="ibexa-btn__label">
                {{ 'edithelp.help'|trans }}
            </span>
        </button>

        {% embed '@ibexadesign/ui/component/modal/modal.html.twig' with {
            title: '' ~ identifier,
            id: modal_id,
        } %}
            {% block body_content %}
                {% if not ibexa_field_is_empty(item, 'body') %}
                    {{ ibexa_render_field(item, 'body') }}
                {% endif %}
                {% if not ibexa_field_is_empty(item, 'image') %}
                    {{ ibexa_render_field(item, 'image', {
                        template: '@ibexadesign/fields/simple_ezimage_field.html.twig'
                    }) }}
                {% endif %}
            {% endblock %}
        {% endembed %}

        <script>
            var bt=document.getElementById('{{ button_id }}')
            var place=document.getElementById('{{ button_place_id }}').nextElementSibling
            place.append(bt)
        </script>
    {% endfor %}
{% endblock %}
