{% trans_default_domain 'ezedithelp' %}
{% if documentation is defined %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <p>{{ "edithelp.alert"|trans }}:</p>
        <div class="row">
            <div class="col-4">
                <div class="card p-2">
                    {% if not ez_field_is_empty(documentation, 'image') %}
                        {{ ez_render_field(documentation, 'image') }}
                    {% endif %}
                    <div class="card-body">
                        {% if not ez_field_is_empty(documentation, 'title') %}
                            <h5>{{ ez_render_field(documentation, 'title') }}</h5>
                        {% endif %}
                        {% if not ez_field_is_empty(documentation, 'body') %}
                            {{ ez_render_field(documentation, 'body') }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            {% for identifier,item in documentation_items %}
                                <a class="nav-link {% if loop.first %} active {% endif %}" id="{{ identifier }}" data-toggle="pill" href="#v-pills-{{ identifier }}" role="tab">
                                    {% if not ez_field_is_empty(item, 'title') %}
                                        {{ ez_render_field(item, 'title') }}
                                    {% else %}
                                        {{ identifier }}
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            {% for identifier,item in documentation_items %}
                                <div class="tab-pane fade show {% if loop.first %} active {% endif %}" id="v-pills-{{ identifier }}" role="tabpanel">
                                    {% if item != 'identifier' and not ez_field_is_empty(item, identifier) %}
                                        {% if not ez_field_is_empty(item, 'body') %}
                                            {{ ez_render_field(item, 'body') }}
                                        {% endif %}
                                        {% if not ez_field_is_empty(item, 'image') %}
                                            {{ ez_render_field(item, 'image') }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
