<div class="item-tabs-content">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#novaezmailing-campaign-preview" data-toggle="tab" role="tab">Mailing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#novaezmailing-content-preview" data-toggle="tab" role="tab">Associated eZ Content</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#novaezmailing-mailings-preview" data-toggle="tab" role="tab">Campaign</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#novaezmailing-mailings-stats" data-toggle="tab" role="tab">Stats</a>
        </li>
    </ul>
    <div class="novaezmailing-tabs-content tab-content">
        <div class="novaezmailing-ez-campaign-view tab-pane active" role="tabpanel" id="novaezmailing-campaign-preview">
            {% include "@NovaeZMailing/admin/mailing/details.html.twig" with { item: item} only %}
        </div>
        <div class="novaezmailing-ez-content-view tab-pane" role="tabpanel" id="novaezmailing-content-preview">
            {{ preview|raw }}
        </div>

        <div class="novaezmailing-ez-mailings-view tab-pane" role="tabpanel" id="novaezmailing-mailings-preview">
            {% include "@NovaeZMailing/admin/campaign/details.html.twig" with { item: item.campaign} only %}
        </div>

        <div class="novaezmailing-ez-mailings-view tab-pane" role="tabpanel" id="novaezmailing-mailings-stats">
            {% for broadcast in item.broadcasts %}
                <div class="novaezmailing-broadcast-charts-group">
                    <h3>Broadcasted on {{ broadcast.started|localizeddate(novaezmailing.dateformat.date, novaezmailing.dateformat.date) }}</h3>
                    <hr/>
                    <div style="width: 600px; height: 300px; float: left">
                        {{ render_esi(controller("Novactive\\Bundle\\eZMailingBundle\\Controller\\Admin\\ChartController::browserChart", {broadcastId: broadcast.id })) }}
                    </div>
                    <div style="width: 600px; height: 300px; float: left">
                        {{ render_esi(controller("Novactive\\Bundle\\eZMailingBundle\\Controller\\Admin\\ChartController::osChart", {broadcastId: broadcast.id })) }}
                    </div>
                    <div style="width: 600px; height: 300px; float: left">
                        {{ render_esi(controller("Novactive\\Bundle\\eZMailingBundle\\Controller\\Admin\\ChartController::urlChart", {broadcastId: broadcast.id })) }}
                    </div>
                    <div style="width: 600px; height: 300px; float: left">
                        {{ render_esi(controller("Novactive\\Bundle\\eZMailingBundle\\Controller\\Admin\\ChartController::openedChart", {broadcastId: broadcast.id })) }}
                    </div>
                    <hr/>
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="novaezmailing-button-actions float-right">
        <a type="button" {% if workflow_can(item,'edit') %} href="{{ path("novaezmailing_mailing_edit", {mailing: item.id}) }}" {% else %} disabled {% endif %} class="btn btn-sm btn-secondary">
            <svg class="ez-icon">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#edit"></use>
            </svg>
            <span>Edit this Mailing</span>
        </a>
        <a type="button" {% if workflow_can(item,'archive') %} href="{{ path("novaezmailing_mailing_archive", {mailing: item.id}) }}" {% else %} disabled {% endif %} class="btn btn-sm btn-warning">
            <svg class="ez-icon">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#move"></use>
            </svg>
            <span>Archived this Mailing </span>
        </a>
        <a type="button" {% if workflow_can(item,'cancel') %} href="{{ path("novaezmailing_mailing_cancel", {mailing: item.id}) }}" {% else %} disabled {% endif %} class="btn btn-sm btn-danger">
            <svg class="ez-icon">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#trash"></use>
            </svg>
            <span>Aborted this Mailing </span>
        </a>
    </div>
    <div class="novaezmailing-button-actions float-left">
        <a type="button" {% if workflow_can(item,'confirm') %} href="{{ path("novaezmailing_mailing_confirm", {mailing: item.id}) }}" {% else %}disabled {% endif %} class="btn btn-sm btn-success">
            <svg class="ez-icon">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#publish"></use>
            </svg>
            <span>Confirm this Mailing </span>
        </a>
    </div>
</div>
