{% extends '@NovaeZMailing/admin/layout/pagelayout.html.twig' %}

{% block novezmailing_breadcrumb %}
    <ol class="breadcrumb px-4">
        <li class="breadcrumb-item"><a href="{{ path("novaezmailing_dashboard_index") }}">Nova eZ Mailing</a></li>
        <li class="breadcrumb-item">Campaigns</li>
        <li class="breadcrumb-item">{{ item.campaign.name }}</li>
        <li class="breadcrumb-item active">{{ item.name }}</li>
    </ol>
{% endblock %}
{% block novezmailing_title %}
    <img src="{{ asset("/bundles/novaezmailing/admin/images/32x32/"~item.statusKey~".png") }}" class="nova-icon"/> {{ item.name }}{% endblock %}

{% block novezmailing_subtitle %}Mailing{% endblock %}
{% block content %}
    {{ render_esi(controller("Novactive\\Bundle\\eZMailingBundle\\Controller\\Admin\\MailingController::mailingTabsAction", {mailing: item.id})) }}
    <br/>
    <div class="ezmailing-subitem-children" data-location="{{ item.locationId }}" data-items="{{ subitems_module.items }}" data-content-types="{{ subitems_module.content_type_info_list }}" data-limit="{{ subitems_module.limit }}"></div>
{% endblock %}

