{% extends "@NovaeZMailing/Admin/Layout/pagelayout.html.twig" %}

{% block novezmailing_title %}Mailing Lists{% endblock %}

{% block content %}
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>Name</th>
            <th class="text-center">Updated</th>
            <th class="text-center">Created</th>
            <th class="text-center">Registrations Count</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td class="text-center">{{ item.id }}</td>
                <td><a href="{{ path('novaezmailing_mailinglist_show', {'mailingList':item.id}) }}">{{ item.name }}</a>
                </td>
                <td class="text-center">{{ item.created|localizeddate }}</td>
                <td class="text-center">{{ item.updated|localizeddate }}</td>
                <td class="text-center">{{ item.registrations|length }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}
