{% extends noLayout ? "@ibexadesign/solr/pagelayout_ajax.html.twig" : "@ibexadesign/ui/layout.html.twig" %}
{% trans_default_domain 'solr_admin' %}

{% form_theme add_form '@ibexadesign/ui/form_fields.html.twig'  %}

{% block title %}{{ 'solr_admin.page.stopwords.title'|trans }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'solr_admin.title'|trans },
        { value: 'solr_admin.page.dashboard.title'|trans, url: path('solr_admin.dashboard') },
        { value: 'solr_admin.page.stopwords.title'|trans }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@ibexadesign/ui/page_title.html.twig' with {
        title: 'solr_admin.page.stopwords.title'|trans,
        iconName: 'list'
    } %}
{%- endblock -%}

{%- block content -%}
    <section class="container page-list-words my-4">
        {% block ajax_content %}
            {% if pager is defined %}
                <div class="ez-table-header">
                    <div>
                        <a href="{{ path('solr_admin.dashboard') }}" class="btn btn-primary">
                            <svg class="ez-icon ez-icon-trash">
                                <use xlink:href="{{ asset('bundles/ibexaicons/img/all-icons.svg') }}#back"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="ez-table-header__headline">{{ 'solr_admin.page.stopwords.table.nbr_termes'|trans({'%nbr%': pager|length }) }}</div>
                    {% if manageAccess['stopwords.delete'] %}
                        <div>
                            {% set modal_data_target = 'delete-words-modal' %}
                            <button
                                    id="delete-words"
                                    type="button"
                                    class="btn btn-danger"
                                    disabled
                                    data-bs-toggle="modal"
                                    data-bs-target="#{{ modal_data_target }}"
                                    title="{{ 'solr_admin.page.stopwords.table.action.remove'|trans }}">
                                <svg class="ez-icon ez-icon-trash">
                                    <use xlink:href="{{ asset('bundles/ibexaicons/img/all-icons.svg') }}#trash"></use>
                                </svg>
                            </button>
                            {% include '@ibexadesign/ui/modal/bulk_delete_confirmation.html.twig' with {
                                'id': modal_data_target,
                                'message': 'solr_admin.page.stopwords.table.action.msg_delete'|trans,
                                'data_click': '#delete-words-delete',
                            }%}
                        </div>
                    {% endif %}
                </div>
                <table class="table">
                    <tbody>
                        {% if pager is empty %}
                            <tr>
                                <td colspan="2">
                                    <span> {{ 'solr_admin.page.stopwords.table.empty'|trans }} </span>
                                </td>
                            </tr>
                        {% else %}
                            {% for elt in pager %}
                                <tr>
                                    <td class="ez-table__cell ez-table__cell--has-checkbox">
                                        {% if manageAccess['stopwords.delete'] %}
                                            <input id="delete-{{ loop.index }}" type="checkbox" name="wordsToDelete[]" class="words-to-delete" value="{{ elt }}" />
                                        {% endif %}
                                    </td>
                                    <td class="ez-table__cell word"><label for="delete-{{ loop.index }}">{{ elt }}</label></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if add_form is defined %}
                            <tr>
                                <td class="ez-table__cell words" colspan="2">
                                    {{ form_start(add_form, {'attr' : {'class': 'row'}}) }}
                                    <div class="col-6">
                                        {{ form_widget(add_form.words, {'attr': {'placeholder': 'solr_admin.page.stopwords.add.placeholder'|trans}}) }}
                                    </div>
                                    <div class="col-3">
                                        <button type="submit" title="{{ 'solr_admin.page.stopwords.table.action.add'|trans }}" class="btn btn-icon mx-2">
                                            <svg class="ez-icon ez-icon-edit">
                                                <use xlink:href="{{ asset('bundles/ibexaicons/img/all-icons.svg') }}#create"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    {{ form_end(add_form) }}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <a href="{{ path('solr_admin.stopwords.delete', {'setId': setId}) }}" id="delete-words-delete" style="display: none"></a>
            {% endif %}
            {% if pager.haveToPaginate %}
                <div class="row justify-content-center align-items-center mb-2 ez-pagination__spacing">
                    <span class="ez-pagination__text">
                        {{ 'pagination.viewing'|trans({
                            '%viewing%': pager.currentPageResults|length,
                            '%total%': pager.nbResults}, 'pagination')|desc('Viewing <strong>%viewing%</strong> out of <strong>%total%</strong> items')|raw }}
                    </span>
                </div>
                <div class="row justify-content-center align-items-center ez-pagination__btn mb-5">
                    {{ pagerfanta(pager, 'ez') }}
                </div>
            {% endif %}
        {% endblock %}
    </section>
{%- endblock -%}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/bundles/ibexaadminui/js/scripts/button.state.toggle.js') }}"></script>
    {{ encore_entry_script_tags('ibexa-admin-ui-solr-config-js', null, 'ibexa') }}
{% endblock %}
