{% extends "@NovaeZMailing/admin/layout/pagelayout.html.twig" %}

{% trans_default_domain 'ezmailing' %}


{% block novezmailing_breadcrumb %}
    <ol class="breadcrumb px-4">
        <li class="breadcrumb-item active">
            Nova eZ Mailing
        </li>
    </ol>
{% endblock %}

{% block novezmailing_title %}{{ "dashboard.title"|trans }}{% endblock %}
{% block novezmailing_subtitle %}{{ "dashboard.subtitle"|trans }}{% endblock %}

{% block content %}
    <h2>{{ "dashboard.quick_actions"|trans }}</h2>
    <div class="novaezmailing-button-actions">
        <a class="btn btn-sm btn-secondary" href="{{ path('novaezmailing_campaign_create') }}">
            <svg class="ez-icon">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#create"></use>
            </svg>
            <span>{{ "dashboard.create_new_campaign"|trans }}</span>
        </a>
        <a class="btn btn-sm btn-info" href="{{ path('novaezmailing_mailinglist_index') }}">
            <svg class="ez-icon">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#view"></use>
            </svg>
            <span>{{ "dashboard.see_mailing_lists"|trans }}</span>
        </a>
        <a class="btn btn-sm btn-primary" href="{{ path('novaezmailing_user_index') }}">
            <svg class="ez-icon">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#user"></use>
            </svg>
            <span>{{ "dashboard.see_users"|trans }}</span>
        </a>
    </div>

    <hr/>
    <h2>{{ "dashboard.last_mailing_sent"|trans }}</h2>
    {% if broadcasts|length > 0 %}
        {% include "@NovaeZMailing/admin/common/list/broadcasts.html.twig" with { items: broadcasts} only %}
    {% endif %}

    <hr/>
    <h2>{{ "dashboard.last_mailing_updated"|trans }}</h2>
    {% include "@NovaeZMailing/admin/common/list/mailings.html.twig" with {items:mailings} only %}

    <hr/>
    <h2>{{ "dashboard.last_user_updated"|trans }}</h2>
    {% include "@NovaeZMailing/admin/common/list/users.html.twig" with {items:users} only %}

    {% if broadcasts|length > 0 %}
        <hr/>
        {% include "@NovaeZMailing/admin/common/list/broadcast_graphs.html.twig" with { items: broadcasts} only %}
    {% endif %}
{% endblock %}
