{% trans_default_domain 'ezmailing' %}
<table class="table table-striped table-hover table-sm">
    <tr>
        <th>{{"mailing.details.name"|trans}}</th>
        <td>{{ item.name }}</td>
    </tr>
    <tr>
        <th>{{"mailing.details.status"|trans}}</th>
        <td>
            <img src="{{ asset("/bundles/novaezmailing/admin/images/32x32/"~item.status~".png") }}" class="nova-icon"/>
            {{ item.status }}
        </td>
    </tr>
    <tr>
        <th>{{"mailing.details.subject"|trans}}</th>
        <td>{{ item.subject }}</td>
    </tr>
    {% set nextTick = item.nextTick %}
    {% if item.hasBeenSent %}
        <tr>
            <th>{{"mailing.details.last_sent_date"|trans}}</th>
            <td>
                {{ item.lastSent|format_datetime(novaezmailing.dateformat.date, novaezmailing.dateformat.date) }}
            </td>
        </tr>
    {% endif %}
    <tr>
        <th>
            {% if item.recurring %}
                {{"mailing.details.frequency"|trans}}
            {% else %}
                {{"mailing.details.rules"|trans}}
            {% endif %}
        </th>
        <td>
            <table class="table table-striped table-hover table-sm">
                <tr>
                    <th class="text-center">{{"generic.details.hours_day"|trans}}</th>
                    <th class="text-center">{{"generic.details.days_week"|trans}}</th>
                    <th class="text-center">{{"generic.details.days_month"|trans}}</th>
                    <th class="text-center">{{"generic.details.weeks_month"|trans}}</th>
                    <th class="text-center">{{"generic.details.months_year"|trans}}</th>
                    <th class="text-center">{{"generic.details.weeks_year"|trans}}</th>
                </tr>
                <tr>
                    <td class="text-center">{{ item.hoursOfDay|join(',')|default("*") }}</td>
                    <td class="text-center">{{ item.daysOfWeek|join(',')|default("*") }}</td>
                    <td class="text-center">{{ item.daysOfMonth|join(',')|default("*") }}</td>
                    <td class="text-center">{{ item.weeksOfMonth|join(',')|default("*") }}</td>
                    <td class="text-center">{{ item.monthsOfYear|join(',')|default("*") }}</td>
                    <td class="text-center">{{ item.weeksOfYear|join(',')|default("*") }}</td>
                </tr>
            </table>
        </td>
    </tr>
    {% if not (item.isAborted or item.isArchived or item.isProcessing) %}
        {% if item.recurring %}
            <tr>
                <th>{{"mailing.details.next_sending_date"|trans}}</th>
                <td>
                    {% if nextTick is not null %}
                        {{ nextTick|format_datetime(novaezmailing.dateformat.date, novaezmailing.dateformat.date) }}
                    {% else %}
                        n/a
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <th>{{"mailing.details.sending_date"|trans}}</th>
                <td>
                    {% if nextTick is not null %}
                        {{ nextTick|format_datetime(novaezmailing.dateformat.date, novaezmailing.dateformat.date) }}
                    {% else %}
                        n/a
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endif %}
    {% if item.isProcessing %}
        <tr>
            <th>{{"mailing.details.sending_date"|trans}}</th>
            <td>{{"mailing.details.currently_progress"|trans}}</td>
        </tr>

    {% endif %}
</table>
