{% trans_default_domain 'ezprotectedcontent' %}

<div class="ibexa-table-header ">
    <div class="ibexa-table-header__headline">{{ "tab.header.title"|trans }}</div>
    <div>
        <button class="btn ibexa-btn ibexa-btn--primary ibexa-btn--extra-actions ibexa-btn--create"
                title="{{ "tab.modal.title"|trans }}"
                data-toggle="modal"
                data-target="#ibexa-modal--add-content-protection"
                data-bs-toggle="modal"
                data-bs-target="#ibexa-modal--add-content-protection"
        >
            <svg class="ibexa-icon ibexa-icon--small">
                <use xlink:href="{{ asset('bundles/ibexaicons/img/all-icons.svg') }}#create"></use>
            </svg>
            <span class="ibexa-btn__label">{{ "tab.modal.title"|trans }}</span>
        </button>
        <div class="modal fade ibexa-modal ibexa-modal--add-content-protection" id="ibexa-modal--add-content-protection" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                {{ form_start(form, {action: path("novaezprotectedcontent_bundle_admin_handle_form", {locationId: location.id })}) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">{{ "tab.modal.title"|trans }}</h3>
                        <button type="button" class="close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">
                            <svg class="ibexa-icon ibexa-icon--medium" aria-hidden="true">
                                <use xlink:href="/bundles/ibexaicons/img/all-icons.svg#discard"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_row(form.password) }}
                        {{ form_row(form.protectChildren) }}
                        {{ form_row(form.enabled) }}
                        {{ form_row(form.asEmail) }}
                        {{ form_row(form.emailMessage) }}
                        <span class="small">{{ form.emailMessage.vars['help']|trans }}</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn--no" data-dismiss="modal" data-bs-dismiss="modal">
                            {{ "tab.modal.buttons.cancel"|trans }}
                        </button>
                        <button class="btn btn-danger font-weight-bold" type="submit">
                            {{ "tab.modal.buttons.add"|trans }}
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

<div class="ibexa-table">
    <table class="ibexa-table table">
        <thead>
        <tr>
            <th>{{ 'tab.table.th.password'|trans }}</th>
            <th>{{ "tab.table.th.children_protection"|trans }}</th>
            <th>{{ "tab.table.th.enabled"|trans }}</th>
            <th>{{ "tab.table.th.as_email"|trans }}</th>
            <th>{{ "tab.table.th.as_email_message"|trans }}</th>
            <th>{{ "tab.table.th.remove"|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr class="{% if item.contentId != location.contentInfo.id %} disabled {% endif %}">
                <td class="ibexa-table__cell">{{ item.password }}</td>
                <td class="ibexa-table__cell">
                    {% if item.contentId == location.contentInfo.id %}
                        {{ item.protectChildren ? 'tab.yes'|trans:'tab.no'|trans }}
                    {% else %}
                        {{ 'tab.no'|trans }}
                    {% endif %}
                </td>
                <td class="ibexa-table__cell">{{ item.enabled ? 'tab.yes'|trans:'tab.no'|trans }}</td>

                <td class="ez-table__cell">{{ item.asEmail ? 'tab.yes'|trans:'tab.no'|trans }}</td>
                <td class="ez-table__cell">{{ item.emailMessage ? 'tab.yes'|trans:'tab.no'|trans }}</td>
                <td class="ibexa-table__cell">
                    {% if item.contentId == location.contentInfo.id %}
                        <a href="{{ path("novaezprotectedcontent_bundle_admin_remove_protection", {locationId: location.id, access: item.id }) }}" class="button">
                            <svg class="ibexa-icon ibexa-icon--medium">
                                <use xlink:href="/bundles/ibexaicons/img/all-icons.svg#trash"></use>
                            </svg>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
