{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% block title %}{{ 'menu.list'|trans([], 'menu_manager') }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'menu.list'|trans([], 'menu_manager') }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'menu.list'|trans([], 'menu_manager'),
        iconName: 'list'
    } %}
{%- endblock -%}

{%- block content -%}
    <section class="container my-4">
        <div class="ez-table-header">
            <div class="ez-table-header__headline">{{ 'menu.list'|trans([], 'menu_manager') }}</div>
            <div>
                <a class="btn btn-primary" href="{{ path('menu_manager.menu_new') }}">
                    <svg class="ez-icon ez-icon-create">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
                    </svg>
                </a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'menu.property.id'|trans([], 'menu_manager') }}</th>
                <th>{{ 'menu.property.name'|trans([], 'menu_manager') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for menu in menus %}
                <tr>
                    <td>{{ menu.id }}</td>
                    <td>{{ menu.name }}</a></td>
                    <td>
                        <a href={{ path('menu_manager.menu_view', {'menu': menu.id}) }} class="btn" target="_blank">
                            <svg class="ez-icon ez-icon-view">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#view"></use>
                            </svg>
                        </a>
                        <a href={{ path('menu_manager.menu_edit', {'menu': menu.id}) }} class="btn">
                            <svg class="ez-icon ez-icon-edit">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagerfanta(menus, 'ez') }}
    </section>
{%- endblock -%}