{% trans_default_domain 'ezmailing' %}
{% set content = block('content') %}
{% set novezmailing_title = block('novezmailing_title') %}
{% set novezmailing_subtitle = block('novezmailing_subtitle') %}
{% set novezmailing_breadcrumb = block('novezmailing_breadcrumb') %}
{% set rightbar = block('rightbar') ?? '' %}

{% embed '@ezdesign/ui/layout.html.twig' %}
    {% block content %}
        {% trans_default_domain 'ezmailing' %}
        <div class="novaezmailing-app row" data-search-endpoint="{{ path('novaezmailing_dashboard_search_autocomplete') }}">
            <div class="container-fluid">
                {% include "@NovaeZMailing/admin/layout/header.html.twig" with { title: novezmailing_title, subTitle: novezmailing_subtitle, breadcrumb: novezmailing_breadcrumb } only %}
                <div class="content row">
                    <div class="col-2 sidebar">
                        <h2>{{"layout.pagelayout.campaigns"|trans}}</h2>
                        <div class="campaigns">
                            {{ knp_menu_render('novaezmailing.menu.campaigns', {template:"@NovaeZMailing/admin/common/menu.html.twig"}) }}
                        </div>
                        <h2>{{"layout.pagelayout.administration"|trans}}</h2>
                        {{ knp_menu_render('novaezmailing.menu.admin') }}
                    </div>
                    {% if rightbar is empty %}
                        <div class="col-10 innercontent">
                            {{ content|raw }}
                        </div>
                    {% else %}
                        <div class="col-9 innercontent">
                            {{ content|raw }}
                        </div>
                        <div class="col-1 ez-context-menu">
                            {{ rightbar|raw }}
                        </div>
                    {% endif %}
                </div>
                {% include "@NovaeZMailing/admin/layout/footer.html.twig" with {} only %}
            </div>
        </div>
    {% endblock %}
{% endembed %}
