{% extends '@NovaeZMailing/admin/layout/pagelayout.html.twig' %}
{% trans_default_domain 'ezmailing' %}

{% form_theme form with ['@EzPlatformAdminUi/form_fields.html.twig', _self ] %}

{% block _mailing_list_names_entry_label %}
    <label class="form-control-label">{{"mailing_list.edit.name"|trans}} {{ name }}</label>
{% endblock %}

{% block novezmailing_breadcrumb %}
    <ol class="breadcrumb px-4">
        <li class="breadcrumb-item"><a href="{{ path("novaezmailing_dashboard_index") }}">Nova eZ Mailing</a></li>
        <li class="breadcrumb-item">{{"campaign.breadcrumb.mailing_lists"|trans}}</li>
        <li class="breadcrumb-item">{{ item.name }}</li>
        <li class="breadcrumb-item active">{{"campaign.breadcrumb.edit"|trans}}</li>
    </ol>
{% endblock %}
{% block novezmailing_title %}{{"mailing_list.edit.title"|trans}} {{ item.name }}{% endblock %}
{% block novezmailing_subtitle %}{{"mailing_list.edit.subtitle"|trans}}{% endblock %}
{% block content %}
    {{ form_start(form, {attr: {class:'col-11', novaezmailing:'mainform'}}) }}
    {{ form(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block rightbar %}
    {% set content_create_sidebar_right = knp_menu_get('novaezmailing.menu.save_cancel', [], {}) %}
    {{ knp_menu_render(content_create_sidebar_right, {'template': '@EzPlatformAdminUi/parts/menu/sidebar_right.html.twig'}) }}
{% endblock %}
