{% extends '@NovaeZMailing/admin/layout/pagelayout.html.twig' %}

{% block novezmailing_breadcrumb %}
    <ol class="breadcrumb px-4">
        <li class="breadcrumb-item"><a href="{{ path("novaezmailing_dashboard_index") }}">Nova eZ Mailing</a></li>
        <li class="breadcrumb-item active">Import</li>
    </ol>
{% endblock %}
{% block novezmailing_title %}Import user{% endblock %}
{% block novezmailing_subtitle %}{% endblock %}

{% block content %}
    {% if count is defined and count > 0 %}
    <div class="success">
        {{ count }} user(s) imported
    </div>
    {% endif %}
    {% if error_list is defined and not error_list is empty %}
        <div class="message-error">
        {% for errors in error_list %}
        <ul>
            <li>
            Line {{ loop.index }}
                <ul>
                {% for error in errors%}
                    <li>{{ error.message }}</li>
                {% endfor %}
                </ul>
            </li>
        </ul>
        {% endfor %}
        </div>
    {% endif %}
    {{ form_start(form, {attr: {class:'col-11', novaezmailing: 'mainform'}}) }}
    {{ form(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block rightbar %}
    {% set content_create_sidebar_right = knp_menu_get('novaezmailing.menu.save_cancel', [], {}) %}
    {{ knp_menu_render(content_create_sidebar_right, {'template': '@EzPlatformAdminUi/parts/menu/sidebar_right.html.twig'}) }}
{% endblock %}
