{% extends '@NovaeZMailing/admin/layout/pagelayout.html.twig' %}
{% trans_default_domain 'ezmailing' %}
{% form_theme form with ['@EzPlatformAdminUi/form_fields.html.twig', _self ] %}

{% block novezmailing_breadcrumb %}
    <ol class="breadcrumb px-4">
        <li class="breadcrumb-item"><a href="{{ path("novaezmailing_dashboard_index") }}">Nova eZ Mailing</a></li>
        <li class="breadcrumb-item"><a href="{{ path("novaezmailing_mailinglist_index") }}">{{"campaign.breadcrumb.mailing_lists"|trans}}</a></li>
        <li class="breadcrumb-item active">{{ item.name }}</li>
    </ol>
{% endblock %}
{% block novezmailing_title %}
    <img src="{{ asset("/bundles/novaezmailing/admin/images/32x32/user.png") }}" class="nova-icon"/> {{"mailing_list.import.title"|trans}}{% endblock %}
{% block novezmailing_subtitle %}{{"mailing_list.import.subtitle"|trans}}{% endblock %}

{% block content %}
    <p>{{"mailing_list.import.inject_users1"|trans}}</p>

    <p>{{"mailing_list.import.inject_users2"|trans}}:
        <small>{{"mailing_list.import.inject_users3"|trans}}</small>
    </p>
    <table class="table table-sm excel-example">
        <tr>
            <th>{{"generic.users.table.email"|trans}}</th>
            <th>{{"generic.users.table.firstname"|trans}}</th>
            <th>{{"generic.users.table.lastname"|trans}}</th>
            <th>{{"generic.users.table.gender"|trans}}</th>
            <th>{{"generic.users.table.birthdate"|trans}}</th>
            <th>{{"generic.users.table.phone"|trans}}</th>
            <th>{{"generic.users.table.zipcode"|trans}}</th>
            <th>{{"generic.users.table.city"|trans}}</th>
            <th>{{"generic.users.table.state"|trans}}</th>
            <th>{{"generic.users.table.country"|trans}}</th>
            <th>{{"generic.users.table.job_title"|trans}}</th>
            <th>{{"generic.users.table.company"|trans}}</th>
        </tr>
        <tr>
            <td>ezmailing@novactive.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>Mr.</td>
            <td>YYYY-MM-DD</td>
            <td>+1 415 218 318</td>
            <td>94111</td>
            <td>San Francisco</td>
            <td>California</td>
            <td>United States Of America</td>
            <td>CTO</td>
            <td>Novactive</td>
        </tr>
    </table>
    {{ form_start(form) }}
    {{ form_row(form.file) }}
    <hr/>
    {% if count is defined and count is not null %}
        <div class="success">
            <strong>{{ count }}</strong> {{"mailing_list.import.imported_users1"|trans}}{{ count > 1 ? 's':'' }} {{"mailing_list.import.imported_users2"|trans}}.
        </div>
    {% endif %}
    {% if error_list is defined and error_list is not null %}
        <div class="message-error">
            {% for errors in error_list %}
                <ul>
                    <li>
                        {{"mailing_list.import.line"|trans}} {{ loop.index }}
                        <ul>
                            {% for error in errors %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}
    <hr/>

    <div class="novaezmailing-button-actions float-right">
        <a href="{{ url('novaezmailing_mailinglist_show', { mailingList: item.id }) }}" class="btn btn-sm btn-info">
            <svg class="ez-icon">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#view"></use>
            </svg>
            <span>{{"mailing_list.import.view_mailing_list"|trans}}</span>
        </a>
    </div>
    <div class="novaezmailing-button-actions">
        <button type="submit" class="btn btn-sm btn-success">
            <svg class="ez-icon">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#wand"></use>
            </svg>
            <span>{{"mailing_list.import.import_button"|trans}}</span>
        </button>
    </div>
    {{ form_end(form) }}





{% endblock %}
