{% extends '@NovaeZMailing/Admin/Layout/pagelayout.html.twig' %}

{% block novezmailing_breadcrumb %}
    <ol class="breadcrumb px-4">
        <li class="breadcrumb-item"><a href="{{ path("novaezmailing_dashboard_index") }}">Nova eZ Mailing</a></li>
        <li class="breadcrumb-item"><a href="{{ path("novaezmailing_user_index") }}">Users</a></li>
        <li class="breadcrumb-item active">{{ item.gender }} {{ item.firstName }} {{ item.lastname }}</li>
    </ol>
{% endblock %}
{% block novezmailing_title %}{{ item.gender }} {{ item.firstName }} {{ item.lastname }}{% endblock %}
{% block novezmailing_subtitle %}{{ item.email }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Information</h3>
            <table class="table table-hover table-sm">
                <tr>
                    <th>ID</th>
                    <td>{{ item.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ item.email }} -
                        <span class="badge badge-{{ item.statusStyle }}">{{ item.status }}</span></td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{ item.firstName }}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{ item.lastName }}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{ item.gender }}</td>
                </tr>
                <tr>
                    <th>Birth date</th>
                    <td>{{ item.birthDate|localizeddate(novaezmailing.dateformat.date, novaezmailing.dateformat.date) }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ item.phone }}</td>
                </tr>
                <tr>
                    <th>Zipcode</th>
                    <td>{{ item.zipcode }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ item.city }}</td>
                </tr>
                <tr>
                    <th>State</th>
                    <td>{{ item.state }}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{ item.country }}</td>
                </tr>
                <tr>
                    <th>Job Title</th>
                    <td>{{ item.jobTitle }}</td>
                </tr>
                <tr>
                    <th>Company</th>
                    <td>{{ item.company }}</td>
                </tr>
                <tr>
                    <th>Origin</th>
                    <td>{{ item.origin }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h3>Registrations</h3>
            <table class="table table-hover table-sm">
                <tr>
                    <th>Mailing List</th>
                    <th>Updated</th>
                    <th>Created</th>
                </tr>
                {% for registration in item.registrations %}
                    <tr>
                        <td>
                            <a href="{{ path('novaezmailing_mailinglist_show', {mailingList: registration.mailingList.id }) }}">{{ registration.mailingList.name }}</a>
                        </td>
                        <td>{{ registration.updated|localizeddate(novaezmailing.dateformat.date, novaezmailing.dateformat.date) }}</td>
                        <td>{{ registration.created|localizeddate(novaezmailing.dateformat.date, novaezmailing.dateformat.date) }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="novaezmailing-button-actions float-right">
        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#novaezmailingconfirmremoveusermodal">
            <svg class="ez-icon">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#trash"></use>
            </svg>
            <span>Delete</span>
        </button>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="novaezmailingconfirmremoveusermodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm removal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this User?</p>
                    <p>It is going to remove:</p>
                    <ul>
                        <li>1 User</li>
                        <li>{{ item.registrations|length }} Registrations</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('novaezmailing_user_remove', {'user':item.id }) }}" type="button" class="btn btn-danger">Confirm</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
