{% use "@EzPublishCore/content_fields.html.twig" %}
{# This field accepts the following parameters:
 #   - alias (image variation name). Defaults to "original" (e.g. image originally uploaded)
 #   - parameters.width. Allows forcing width of the image in the HTML
 #   - parameters.height. Allows forcing height of the image in the HTML
 #   - parameters.class. Allows setting CSS custom class name for the image
#}
{% block ezimage_field %}
    {% apply spaceless %}
        {% if not ez_field_is_empty( content, field ) %}
            <figure {{ block( 'field_attributes' ) }}>
                {% set imageAlias = nova_ezfastlyio_alias( field, versionInfo, parameters.alias|default( 'original' ) ) %}
                {% set src = imageAlias ? asset( imageAlias.uri ) : "//:0" %}
                {% set attrs = {
                    class: parameters.class|default(''),
                    height: parameters.height is defined ? parameters.height : (imageAlias ? imageAlias.height : ''),
                    width: parameters.width is defined ? parameters.width : (imageAlias ? imageAlias.width : ''),
                } %}
                {% if parameters.ezlink|default({}) is not empty %}
                <a
                        href="{{ parameters.ezlink.href }}"
                        {% if parameters.ezlink.title is defined %} title="{{ parameters.ezlink.title|e('html_attr') }}"{% endif %}
                        {% if parameters.ezlink.target is defined %} target="{{ parameters.ezlink.target|e('html_attr') }}"{% endif %}
                >
                    {% endif %}
                    <img src="{{ src }}" alt="{{ parameters.alternativeText|default(field.value.alternativeText) }}" {% for attrname, attrvalue in attrs %}{% if attrvalue %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}/>
                    {% if parameters.ezlink|default({}) is not empty %}
                </a>
                {% endif %}
            </figure>
        {% endif %}
    {% endapply %}
{% endblock %}
