{% extends '@IbexaAdminUi/themes/admin/ui/base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('nova_ezrssfeed_edit', null, 'ibexa') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('nova_ezrssfeed_edit', null, 'ibexa') }}
{% endblock %}

{% form_theme form '@EzRssFeed/Form/form_fields.html.twig' %}
{% set itemIndexes = [] %}
{% block form %}
    {{ form_start(form, { attr: {
        class: 'ibexa-form'
    }}) }}
    <section class="ibexa-container">
        <div class="ibexa-content-container">
            <div class="card-body form-row row">
                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label">
                        {{ form_label(form.title) }}
                    </label>
                    <div class="controls">
                        {{ form_errors(form.title) }}
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label">
                        {{ form_label(form.description) }}
                    </label>
                    <div class="controls">
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description) }}
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label">
                        {{ form_label(form.number_of_object) }}
                    </label>
                    <div class="controls">
                        {{ form_errors(form.number_of_object) }}
                        {{ form_widget(form.number_of_object) }}
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label">
                        {{ form_label(form.feed_sites) }}
                    </label>
                    <div class="controls">
                        {{ form_errors(form.feed_sites) }}
                        {{ form_widget(form.feed_sites) }}
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label">
                        {{ form_label(form.sort_type) }}
                    </label>
                    <div class="controls">
                        {{ form_errors(form.sort_type) }}
                        {{ form_widget(form.sort_type) }}
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label">
                        {{ form_label(form.sort_direction) }}
                    </label>
                    <div class="controls">
                        {{ form_errors(form.sort_direction) }}
                        {{ form_widget(form.sort_direction) }}
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label class="form-label">
                        {{ form_label(form.url_slug) }}
                    </label>
                    <div class="controls rss-link">
                        {{ form_errors(form.url_slug) }}
                        <em>/rss/feed/</em>
                        {{ form_widget(form.url_slug) }}
                    </div>
                </div>
                <div class="items-rss" data-prototype="{{ form_widget(form.feed_items.vars['prototype'])|e }}">
                    <div class="rss-toolbar">
                        <a id="open-child-form" class="btn ibexa-btn ibexa-btn--secondary">
                            <svg class="ibexa-icon ibexa-icon--small">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ ibexa_icon_path('create') }}"></use>
                            </svg>
                            {{ 'ez_rss_feed.new'|trans }}
                        </a>
                        <span class="rss-toolbar-title">{{ 'ez_rss_feed.form.fields.title' | trans }}</span>
                    </div>
                    {% for feed_item in form.feed_items %}
                        <section class="card ibexa-container">
                            {{ form_row(feed_item) }}
                        </section>
                        {% set itemIndexes = itemIndexes|merge([feed_item.vars["name"]]) %}
                    {% endfor %}
                </div>
                {{ form_widget(form.submit, {'id': 'rss_edit_edit', 'attr': {'hidden': 'hidden'}}) }}
                <div id="delete-rest">{{ form_end(form) }}</div>
            </div>
        </div>
    </section>

    <div id="template-values"
         data-rss-fields-indexes="{{ itemIndexes|json_encode }}"
         data-rss-fields-path="{{ path('platform_admin_ui_rss_ajax_get_fields_by_contenttype_id') }}"
         data-rss-info-location="{{ path('platform_admin_ui_rss_feeds_ajx_load_location') }}"
         data-loader-path="{{ asset('bundles/ezrssfeed/admin/images/preloader.gif') }}"
    ></div>
{% endblock %}

{% block header %}
    {% set rss_edit_sidebar_right = knp_menu_get('ibexa_admin_ui.menu_configure.rss_edit_sidebar_right') %}
    {{ knp_menu_render(rss_edit_sidebar_right, {
        'template': '@ibexadesign/ui/menu/context_menu.html.twig',
        'primary_item_class': 'ibexa-btn--filled-info'
    }) }}
{% endblock %}
