{% extends '@ibexadesign/ui/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('nova_ezrssfeed', null, 'ibexa') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('nova_ezrssfeed', null, 'ibexa') }}
{% endblock %}

{% block content %}
    <section class="ibexa-container">
        <div class="ibexa-table-header">
            <div class="ibexa-table-header__headline">{{ 'ez_rss_feed.list.title'|trans() }}</div>
            {% if canCreate %}
                <div>
                    <a title="{{ 'ez_rss_feed.new'|trans }}"
                       href="{{ path('platform_admin_ui_rss_feeds_create') }}"
                       class="btn ibexa-btn ibexa-btn--primary">
                        <svg class="ibexa-icon ibexa-icon-create ibexa-icon--small">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="{{ ibexa_icon_path('create') }}">
                            </use>
                        </svg>
                        {{ 'ez_rss_feed.new'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
        <table class="ibexa-table table">
            <thead>
            <tr class="ibexa-table__head-row">
                <th class="ibexa-table__header-cell">{{ 'ez_rss_feed.title'|trans }}</th>
                <th class="ibexa-table__header-cell">{{ 'ez_rss_feed.created_at'|trans }}</th>
                <th class="ibexa-table__header-cell">{{ 'ez_rss_feed.modified_at'|trans }}</th>
                <th class="ibexa-table__header-cell">{{ 'ez_rss_feed.status'|trans }}</th>
                <th class="ibexa-table__header-cell text-end">{{ 'ez_rss_feed.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody class="ibexa-table__body">
            {% for rss in pager.currentPageResults %}
                <tr id="{{ 'rssfeed-' ~ rss.urlSlug }}" class="ibexa-table__row">
                    <td class="ibexa-table__cell">{{ rss.title }}</td>
                    <td class="ibexa-table__cell">{{ rss.createdAt|date("d/m/Y H:i") }}</td>
                    <td class="ibexa-table__cell">{{ rss.modifiedAt|date("d/m/Y H:i") }}</td>
                    <td class="ibexa-table__cell ibexa-table__cell--has-checkbox ">
                         <div class="form-check">
                            <label class="ibexa-checkbox-icon {% if rss.status %}is-checked{% endif %}">
                                <input class="ibexa-checkbox-icon__checkbox" checked="" type="checkbox" name="updateVisibility" value="{{ rss.id }}">
                            </label>
                         </div>
                    </td>
                    <td class="ibexa-table__cell ibexa-table__cell--has-action-btns">
                        <div class="ibexa-table__cell-btns-wrapper">
                            <a title="{{ 'ez_rss_feed.edit'|trans|desc('Edit') }}"
                               href="{{ path('platform_admin_ui_rss_feeds_edit', {'id': rss.id}) }}"
                               class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text">
                                <svg class="ibexa-icon ibexa-icon-edit ibexa-icon--small">
                                    <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                                </svg>
                            </a>
                            {% if canDelete %}
                                <button title="{{ 'ez_rss_feed.delete'|trans|desc('Delete') }}"
                                   data-bs-toggle='modal'
                                   data-bs-target='#delete-rss-modal-{{ rss.id }}'
                                   class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text rssfeed-delete">
                                    <svg class="ibexa-icon ibexa-icon-trash ibexa-icon--small ">
                                        <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                                    </svg>
                                </button>
                                {% include '@ibexadesign/rssfeed/modal_rss_delete.html.twig' with {'rss': rss} only %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pager.haveToPaginate %}
            <div class="ibexa-pagination mt-3">
                <span class="ibexa-pagination__info">
                    {{ 'ez_rss_feed.viewing'|trans({
                        '%viewing%': pager.currentPageResults|length,
                        '%total%': pager.nbResults})|desc('Viewing <strong>%viewing%</strong> out of <strong>%total%</strong> items')|raw }}
                </span>
                <div class="pagination ibexa-pagination__navigation">
                    {{ pagerfanta(pager, 'ibexa') }}
                </div>
            </div>
        {% endif %}
    </section>

    <div id="template-values" data-change-visibility-feed-url="{{ path('platform_admin_ui_rss_ajax_change_visibility_feed') }}"></div>

{% endblock %}
