<div class="modal fade ibexa-modal ibexa-modal--send-to-trash " id="delete-rss-modal-{{ rss.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p class="ibexa-modal-body__main">
                    {{ 'ez_rss_feed.modal.message'|trans }}
                </p>
            </div>
            <div class="modal-footer">
                <form action="{{ path('platform_admin_ui_rss_feeds_delete', {'id': rss.id}) }}" method="POST" id="form-delete-rss-feed-{{ rss.urlSlug }}">
                    <button type="button" class="btn ibexa-btn ibexa-btn--secondary btn--no" data-bs-dismiss="modal">
                        {{ 'form.cancel'|trans|desc('Cancel') }}
                    </button>
                    <button type="submit" class="btn ibexa-btn ibexa-btn--primary" name="delete">
                        {{ 'ez_rss_feed.delete.item'|trans }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
