{% extends '@EzPlatformAdminUi/admin/base.html.twig' %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset("css/custom.css", "ezdesign") }}" media="screen" />

     {{ parent() }}
 {% endblock %}

{% form_theme form '@EzRssFeed/Form/form_fields.html.twig' %}
{% set itemIndexes = [] %}
{% block form %}

    {{ form_start(form) }}

    <section class="container mt-4 px-5">
        <div class="card ez-card">
            <div class="card-body">
                <div class="form-group col-md-12 col-sm-12 col-xs-12 pull-left">
                    <label class="form-label">
                        {{ form_label(form.title) }}
                    </label>
                    <div class="controls">
                        {{ form_errors(form.title) }}
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12 pull-left">
                    <label class="form-label">
                        {{ form_label(form.description) }}
                    </label>
                    <div class="controls">
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description) }}
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12 pull-left">
                    <label class="form-label">
                        {{ form_label(form.number_of_object) }}
                    </label>
                    <div class="controls">
                        {{ form_errors(form.number_of_object) }}
                        {{ form_widget(form.number_of_object) }}
                    </div>
                </div>

                <div class="form-group col-md-6 col-sm-12 col-xs-12 pull-left">
                    <label class="form-label">
                        {{ form_label(form.sort_type) }}
                    </label>
                    <div class="controls">
                        {{ form_errors(form.sort_type) }}
                        {{ form_widget(form.sort_type) }}
                    </div>
                </div>

                <div class="form-group col-md-6 col-sm-12 col-xs-12 pull-left">
                    <label class="form-label">
                        {{ form_label(form.sort_direction) }}
                    </label>
                    <div class="controls">
                        {{ form_errors(form.sort_direction) }}
                        {{ form_widget(form.sort_direction) }}
                    </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12 pull-left">
                    <label class="form-label">
                        {{ form_label(form.url_slug) }}
                    </label>
                    <div class="controls rss-link">
                        {{ form_errors(form.url_slug) }}
                        <em>/rss/feed/</em>
                        {{ form_widget(form.url_slug) }}
                    </div>
                </div>


                <div class="rss-toolbar">
                    <div class="pull-left"><span class="rss-toolbar-title">{{ 'ez_rss_feed.form.fields.title' | trans }}</span></div>
                    <div class="pull-right">
                        <a id="open-child-form" class="btn btn-primary btn-add-rss">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#create"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="items-rss" data-prototype="{{ form_widget(form.feed_items.vars['prototype'])|e }}">
                    {% for feed_item in form.feed_items %}
                        <section class="container mt-4">
                            <div class="card ez-card">
                                <div class="card-body">
                                    <a class="btn btn-primary delete-rss-items pull-right">
                                        <svg>
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#trash"></use>
                                        </svg>
                                    </a>
                                    {{ form_row(feed_item) }}
                                </div>
                            </div>
                        </section>
                        {% set itemIndexes = itemIndexes|merge([feed_item.vars["name"]]) %}
                    {% endfor %}
                </div>
                {{ form_widget(form.submit, {'id': 'rss_edit_edit', 'attr': {'hidden': 'hidden'}}) }}
                <div id="delete-rest">{{ form_end(form) }}</div>
            </div>
        </div>
    </section>
    <script>
        var TWIG = {};
        TWIG.getRssFieldsIndexes = {{ itemIndexes|json_encode|raw }};
        TWIG.getRssFieldsPath = "{{ path('platform_admin_ui_rss_ajax_get_fields_by_contenttype_id') }}";
        TWIG.loadLocationRssInfo = "{{ path('platform_admin_ui_rss_feeds_ajx_load_location') }}";
        TWIG.PathLoader = "{{ asset('bundles/rss/images/preloader.gif') }}";
    </script>
{% endblock %}

{% block right_sidebar %}
    {% set rss_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.rss_edit.sidebar_right') %}
    {{ knp_menu_render(rss_edit_sidebar_right, {'template': '@EzPlatformAdminUi/parts/menu/sidebar_right.html.twig'}) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset("js/admin.rss.subtree.pick.js", "ezdesign") }}"></script>
    <script src="{{ asset("js/collection_rss.js", "ezdesign") }}"></script>

    <script>
		jQuery(document).ready(function () {
			$('#delete-rest').hide();
			$('.col-form-label').each(function () {
				if ($(this).html().length < 2) {
					$(this).hide();
				}
			});
		});
    </script>
{% endblock %}
