{% extends '@ezdesign/layout.html.twig' %}

{% block content %}
    <section class="container mt-4 px-5">
        <div class="ez-table-header">
            <div class="ez-table-header__headline">{{ 'ez_rss_feed.list.title'|trans() }}</div>
            {% if canCreate %}
                <div>
                    <a title="{{ 'ez_rss_feed.new'|trans }}"
                       href="{{ path('platform_admin_ui_rss_feeds_create') }}"
                       class="btn btn-primary">
                        <svg class="ez-icon ez-icon-create">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
                        </svg>
                    </a>
                </div>
            {% endif %}
        </div>

        <table class="table mb-3">
            <thead>
            <tr>
                <th>{{ 'ez_rss_feed.title'|trans }}</th>
                <th>{{ 'ez_rss_feed.created_at'|trans }}</th>
                <th>{{ 'ez_rss_feed.modified_at'|trans }}</th>
                <th>{{ 'ez_rss_feed.status'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for rss in pager.currentPageResults %}
                <tr>
                    <td>{{ rss.title }}</td>
                    <td>{{ rss.createdAt|date("d/m/Y H:i") }}</td>
                    <td>{{ rss.modifiedAt|date("d/m/Y H:i") }}</td>
                    <td>
                        <label class="ez-checkbox-icon {% if rss.status %}is-checked{% endif %}">
                            <svg class="ez-icon ez-icon-view">
                                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#view"></use>
                            </svg>
                            <svg class="ez-icon ez-icon-view-hide">
                                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#view-hide"></use>
                            </svg>
                            <input class="ez-checkbox-icon__checkbox" checked="" type="checkbox" name="updateVisibility" value="{{ rss.id }}">
                        </label>
                    </td>
                    <td class="text-right">
                        <a title="{{ 'ez_rss_feed.edit'|trans|desc('Edit') }}"
                           href="{{ path('platform_admin_ui_rss_feeds_edit', {'id': rss.id}) }}"
                           class="btn btn-icon mx-3">
                            <svg class="ez-icon ez-icon-edit">
                                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
                            </svg>
                        </a>
                        {% if canDelete %}
                            <a title="{{ 'ez_rss_feed.delete'|trans|desc('Delete') }}"
                               href="{{ path('platform_admin_ui_rss_feeds_delete', {'id': rss.id}) }}"
                               data-toggle='modal'
                               data-target='#delete-rss-modal-{{ rss.id }}'
                               class="btn btn-icon mx-3">
                                <svg class="ez-icon ez-icon-trash">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
                                </svg>
                            </a>
                            {% include '@EzRssFeed/themes/admin/rssfeed/modal_rss_delete.html.twig' with {'rss': rss} only %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pager.haveToPaginate %}
            <div class="row justify-content-center align-items-center mb-2">
                <span>
                    {{ 'ez_rss_feed.viewing'|trans({
                        '%viewing%': pager.currentPageResults|length,
                        '%total%': pager.nbResults})|desc('Viewing <strong>%viewing%</strong> out of <strong>%total%</strong> items')|raw }}
                </span>
            </div>
            <div class="row justify-content-center align-items-center">
                {{ pagerfanta(pager, 'ez') }}
            </div>
        {% endif %}
    </section>

{% endblock %}


{% block javascripts %}

    <script>
        var TWIG = {};
        TWIG.urlChangeVisibilityFeed = "{{ path('platform_admin_ui_rss_ajax_change_visibility_feed') }}";
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset("js/admin.rss.feed.state.js", "ezdesign") }}"></script>
{% endblock %}
