{% trans_default_domain 'fieldtypes_preview' %}

{% block enhancedimage_field %}
    {% apply spaceless %}
        {% if not ibexa_field_is_empty( content, field ) %}
            {% set imageAlias = ibexa_image_alias( field, versionInfo, parameters.alias|default( 'original' ) ) %}
            {% set placeholderAlias = ibexa_image_alias( field, versionInfo, "placeholder" ) %}
            {% set focusPoint = field.value.focusPoint %}
            {% set src = imageAlias ? asset( imageAlias.uri ) : "//:0" %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ibexa-field-preview ibexa-field-preview--ezimage ibexa-field-preview--enhancedimage')|trim}) %}
            <div {{ block( 'field_attributes' ) }}>
                <div class="ibexa-field-preview__image-wrapper">
                    <div class="ibexa-field-preview__image">
                        <img src="{{ src }}">
                    </div>
                    <div class="ibexa-field-preview__meta-wrapper">
                        <table>
                            <thead>
                            <tr class="ibexa-field-preview__meta-title-row">
                                <th class="">{{ 'ezimage.image_file_properties'|trans|desc('Image file properties') }}:</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="ibexa-field-preview__meta-value-row">
                                <td>{{ 'ezimage.file_name'|trans|desc('File name') }}:</td>
                                <td>{{ field.value.fileName }}</td>
                            </tr>
                            <tr class="ibexa-field-preview__meta-value-row">
                                <td>{{ 'ezimage.size'|trans|desc('Size') }}:</td>
                                <td>{{ field.value.fileSize|ibexa_file_size( 1 ) }}</td>
                            </tr>
                            <tr class="ibexa-field-preview__meta-value-row">
                                <td>{{ 'ezimage.alternative_text'|trans|desc('Alternative text') }}:</td>
                                <td>{{ field.value.alternativeText }}</td>
                            </tr>
                            <tr class="ibexa-field-preview__meta-value-row">
                                <td>{{ 'ezimage.master_dimensions'|trans|desc('Master dimensions') }}:</td>
                                <td>{{ 'ezimage.width_and_height'|trans({'%width%': field.value.width, '%height%': field.value.height})|desc('Width: %width%px height: %height%px') }}</td>
                            </tr>
                            <tr class="ibexa-field-preview__meta-value-row">
                                <td>{{ 'ezimage.ratio'|trans|desc('Ratio') }}:</td>
                                <td>{{ (field.value.width/field.value.height)|round(2) }}</td>
                            </tr>
                            <tr class="ibexa-field-preview__meta-value-row">
                                <td>{{ 'enhancedimage.focuspoint'|trans|desc('Focus point') }}:</td>
                                <td>
                                    <div class="focuspoint-helper">
                                        <div class="focuspoint-helper--target">
                                            {% set reticleX = ((focusPoint.posX + 1) / 2) * 100 %}
                                            {% set reticleY = ((-focusPoint.posY + 1) / 2) * 100 %}
                                            <img class="focuspoint-helper--reticle" src="{{ asset('bundles/ezenhancedimageasset/img/focuspoint-target.png') }}" style="top: {{ reticleY|round(2) }}%; left: {{ reticleX|round(2) }}%;">
                                            <img class="focuspoint-helper--img" src="{{ imageAlias ? asset( imageAlias.uri ) : "//:0" }}">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibexa-field-preview__actions-wrapper">
                    <a class="ibexa-field-preview__action ibexa-field-preview__action--preview" href="{{ field.value.uri }}" target="_blank">
                        <svg class="ibexa-icon ibexa-icon--medium ibexa-icon--light">
                            <use xlink:href="{{ ibexa_icon_path('open-newtab') }}"></use>
                        </svg>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endapply %}
{% endblock %}

{# Block for field attributes rendering. Useful to add a custom class, id or whatever HTML attribute to the field markup #}
{% block field_attributes %}
    {% apply spaceless %}
        {% set attr = attr|default( {} ) %}
        {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
    {% endapply %}
{% endblock %}
