{% extends '@IbexaAdminUi/themes/admin/ui/form_fields.html.twig' %}

{% block tree_discovery_widget %}

    <div>
        <input type="hidden" id="{{ form.location.vars["id"] }}" name="{{ form.location.vars["full_name"] }}"
               value="{{ form.location.vars["value"] }}"/>
    </div>

    <div>
        <button class="{{ form.vars.attr['class'] }}"
                data-udw-config="{{ ibexa_udw_config('nova_ezrssfeed') }}"
                data-location-input-selector="#{{ form.location.vars["id"] }}"
                data-selected-location-list-selector="#{{ form.location.vars["id"] }}-selected-location"
                type="button">
            <svg class="ibexa-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ ibexa_icon_path('relations') }}"></use>
            </svg>
            <span class="ibexa-relations__cta-btn-label"
                  data-location-input-selector="#{{ form.location.vars["id"] }}"
                  data-selected-location-list-selector="#{{ form.location.vars["id"] }}-selected-location"
            >
                {{ "role.policy.limitation.location.udw_button"|trans({}, "ezrepoforms_role") }}
            </span>
        </button>
    </div>
    <div>
        <ul class="location-tree" id="{{ form.location.vars["id"] }}-selected-location">
        </ul>
    </div>

{% endblock %}

{# rss feed items #}
{% block _rss_feeds_feed_items_entry_include_subtree_row %}
    <div class="form-group col-md-12 col-sm-12 col-xs-12 pull-left">
        <label class="form-label">
            {{- form_label(form) -}}
        </label>
        <div class="controls">
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </div>
    </div>
{% endblock _rss_feeds_feed_items_entry_include_subtree_row %}
{% block _rss_feeds_feed_items_entry_contenttype_id_row %}
    <div class="form-group col-md-12 col-sm-12 col-xs-12 pull-left">
        <label class="form-label">
            {{- form_label(form) -}}
        </label>
        <div class="controls">
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </div>
    </div>
{% endblock _rss_feeds_feed_items_entry_contenttype_id_row %}
{% block _rss_feeds_feed_items_entry_title_row %}
    <div class="form-group col-md-6 col-sm-12 col-xs-12 pull-left">
        <label class="form-label">
            {{- form_label(form) -}}
        </label>
        <div class="controls">
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </div>
    </div>
{% endblock _rss_feeds_feed_items_entry_title_row %}
{% block _rss_feeds_feed_items_entry_description_row %}
    <div class="form-group col-md-6 col-sm-12 col-xs-12 pull-left">
        <label class="form-label">
            {{- form_label(form) -}}
        </label>
        <div class="controls">
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </div>
    </div>
{% endblock _rss_feeds_feed_items_entry_description_row %}
{% block _rss_feeds_feed_items_entry_category_row %}
    <div class="form-group col-md-6 col-sm-12 col-xs-12">
        <label class="form-label">
            {{- form_label(form) -}}
        </label>
        <div class="controls">
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </div>
    </div>
{% endblock _rss_feeds_feed_items_entry_category_row %}
{% block _rss_feeds_feed_items_entry_media_row %}
    <div class="form-group col-md-6 col-sm-12 col-xs-12">
        <label class="form-label">
            {{- form_label(form) -}}
        </label>
        <div class="controls">
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </div>
    </div>
{% endblock _rss_feeds_feed_items_entry_media_row %}

{% block _rss_feeds_feed_items_entry_row %}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group')|trim})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
        {{- form_errors(form) -}}
    </{{ element|default('div') }}>
{% endblock _rss_feeds_feed_items_entry_row %}


{% block _rss_feeds_feed_items_entry_widget %}
    <div {{ block('widget_container_attributes') }}>
        <a class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text delete-rss-items pull-right">
            <svg class="ibexa-icon ibexa-icon--medium">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ ibexa_icon_path('trash') }}"></use>
            </svg>
        </a>
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{% endblock _rss_feeds_feed_items_entry_widget %}
